In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2025
quarter = 2
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-23 23:35:55

### Insert Profits from PortLt to PortMy

In [3]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

lt_profits = pd.read_sql(sql, conlt)
lt_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 2

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2802,CBG,2025,2,1,3084688,2288670,796018,34.78,3084688,...,800495,690737,109758,15.889984,760482,40013,5.261532,87,14.905379,14.315010
1,2803,CKP,2025,2,1,2412207,1105431,1306776,118.21,2412207,...,610152,73920,536232,725.422078,70465,539687,765.893706,107,409.526446,390.202145
2,2804,GPSC,2025,2,1,4929121,3440570,1488551,43.26,4929121,...,2019251,1428522,590729,41.352461,1140036,879215,77.121687,197,43.838537,25.996432
3,2805,GULF,2025,2,1,95184877,14506279,80678598,556.16,95184877,...,63871479,0,63871479,999.990000,21382850,42488629,198.704237,653,999.990000,NaN
4,2806,MTC,2025,2,1,6251924,5225764,1026160,19.64,6251924,...,1647011,1444235,202776,14.040374,1571215,75796,4.824037,315,10.463603,7.733210
5,2807,SCC,2025,2,1,18644986,11814106,6830880,57.82,18644986,...,17337286,3707928,13629358,367.573426,1098848,16238438,1477.769264,427,543.725673,636.015611
6,2808,SMPC,2025,2,1,598966,477538,121428,25.43,598966,...,207612,197354,10258,5.197766,145446,62166,42.741636,455,18.777351,19.089449
7,2809,TVO,2025,2,1,2425616,909838,1515778,166.60,2425616,...,647618,550247,97371,17.695871,533615,114003,21.364279,585,52.460038,76.451262
8,2810,SYNEX,2025,2,1,694197,529751,164446,31.04,694197,...,190158,159905,30253,18.919358,188217,1941,1.031256,495,13.887654,13.805954
9,2812,CK,2025,2,1,1981824,1404524,577300,41.10,1981824,...,862763,488081,374682,76.766356,282243,580520,205.680920,106,86.714319,82.366636
10,2813,PLANB,2025,2,1,1067915,960289,107626,11.21,1067915,...,270080,263829,6251,2.369338,192513,77567,40.291824,358,13.615291,18.380719
11,2814,ADVANC,2025,2,1,39612451,30780229,8832222,28.69,39612451,...,10981885,8577263,2404622,28.034840,10583526,398359,3.763954,6,16.737199,13.471353
12,2815,BAM,2025,2,1,2232876,1691342,541534,32.02,2232876,...,1293993,456124,837869,183.693250,216770,1077223,496.942843,709,193.179023,212.959576
13,2816,BLA,2025,2,1,5579492,3033411,2546081,83.93,5579492,...,2128385,982985,1145400,116.522633,1189085,939300,78.993512,70,77.566536,35.333393
14,2817,COM7,2025,2,1,3716936,2805210,911726,32.50,3716936,...,1003155,753044,250111,33.213331,980654,22501,2.294489,114,18.811955,16.345224
15,2818,GFPT,2025,2,1,2205364,1544341,661023,42.80,2205364,...,642113,583084,59029,10.123584,638456,3657,0.572788,187,14.061593,19.589997
16,2819,GUNKUL,2025,2,1,1750889,1318230,432659,32.82,1750889,...,484524,461869,22655,4.905070,366965,117559,32.035480,202,17.767638,16.994552
17,2820,TTW,2025,2,1,3130292,2840724,289568,10.19,3130292,...,796563,622651,173912,27.930895,668684,127879,19.123981,581,15.781219,9.799397

In [4]:
#still don't know why has to drop id
lt_profits = lt_profits.drop(columns=['id'])
lt_profits.shape

(18, 22)

In [5]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

my_profits = pd.read_sql(sql, conmy)
my_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 2

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,240,CBG,2025,2,1,3084688,2288670,796018,34.78,3084688,...,800495,690737,109758,15.889984,760482,40013,5.261532,87,14.905379,14.315010
1,241,CKP,2025,2,1,2412207,1105431,1306776,118.21,2412207,...,610152,73920,536232,725.422078,70465,539687,765.893706,107,409.526446,390.202145
2,242,GPSC,2025,2,1,4929121,3440570,1488551,43.26,4929121,...,2019251,1428522,590729,41.352461,1140036,879215,77.121687,197,43.838537,25.996432
3,243,GULF,2025,2,1,95184877,14506279,80678598,556.16,95184877,...,63871479,0,63871479,999.990000,21382850,42488629,198.704237,653,999.990000,NaN
4,244,MTC,2025,2,1,6251924,5225764,1026160,19.64,6251924,...,1647011,1444235,202776,14.040374,1571215,75796,4.824037,315,10.463603,7.733210
5,245,SCC,2025,2,1,18644986,11814106,6830880,57.82,18644986,...,17337286,3707928,13629358,367.573426,1098848,16238438,1477.769264,427,543.725673,636.015611
6,246,SMPC,2025,2,1,598966,477538,121428,25.43,598966,...,207612,197354,10258,5.197766,145446,62166,42.741636,455,18.777351,19.089449
7,247,TVO,2025,2,1,2425616,909838,1515778,166.60,2425616,...,647618,550247,97371,17.695871,533615,114003,21.364279,585,52.460038,76.451262
8,248,SYNEX,2025,2,1,694197,529751,164446,31.04,694197,...,190158,159905,30253,18.919358,188217,1941,1.031256,495,13.887654,13.805954
9,249,CK,2025,2,1,1981824,1404524,577300,41.10,1981824,...,862763,488081,374682,76.766356,282243,580520,205.680920,106,86.714319,82.366636
10,250,PLANB,2025,2,1,1067915,960289,107626,11.21,1067915,...,270080,263829,6251,2.369338,192513,77567,40.291824,358,13.615291,18.380719

In [6]:
sqlDel = text("DELETE FROM profits WHERE year = :year AND quarter = :quarter")
print(sqlDel)  # Shows the uncompiled SQL with placeholders

# Execute and get the result
result = conmy.execute(sqlDel, {"year": year, "quarter": quarter})
rows_deleted = result.rowcount  # Get the number of rows deleted
#conmy.commit()  # Commit the transaction

print(f"Number of rows deleted: {rows_deleted}")

DELETE FROM profits WHERE year = :year AND quarter = :quarter
Number of rows deleted: 11

In [7]:
# Define SQL statement using named placeholders
sqlInsMy = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")
print(sqlInsMy)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)

In [8]:
rcds = lt_profits.values.tolist()
print(f"Number of rows to insert: {len(rcds)}")

Number of rows to insert: 18

In [9]:
# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]
#print(records_dicts)

# Check for empty records before attempting insertion
if not rcds:
    print("No records to insert - skipping database operation")
    # In notebook/script context, just proceed to next cell instead of 'return'
else:    
    try:
        result = conmy.execute(sqlInsMy, records_dicts)  # Bulk insert using named parameters
        rows_insert = result.rowcount
        print(f"{rows_insert} rows inserted successfully!")
    except Exception as e:
        print("Error inserting data:", e)
    finally:
        conmy.commit()

18 rows inserted successfully!

In [10]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

my_profits = pd.read_sql(sql, conmy)
my_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 2

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,251,CBG,2025,2,1,3084688,2288670,796018,34.78,3084688,...,800495,690737,109758,15.889984,760482,40013,5.261532,87,14.905379,14.315010
1,252,CKP,2025,2,1,2412207,1105431,1306776,118.21,2412207,...,610152,73920,536232,725.422078,70465,539687,765.893706,107,409.526446,390.202145
2,253,GPSC,2025,2,1,4929121,3440570,1488551,43.26,4929121,...,2019251,1428522,590729,41.352461,1140036,879215,77.121687,197,43.838537,25.996432
3,254,GULF,2025,2,1,95184877,14506279,80678598,556.16,95184877,...,63871479,0,63871479,999.990000,21382850,42488629,198.704237,653,999.990000,NaN
4,255,MTC,2025,2,1,6251924,5225764,1026160,19.64,6251924,...,1647011,1444235,202776,14.040374,1571215,75796,4.824037,315,10.463603,7.733210
5,256,SCC,2025,2,1,18644986,11814106,6830880,57.82,18644986,...,17337286,3707928,13629358,367.573426,1098848,16238438,1477.769264,427,543.725673,636.015611
6,257,SMPC,2025,2,1,598966,477538,121428,25.43,598966,...,207612,197354,10258,5.197766,145446,62166,42.741636,455,18.777351,19.089449
7,258,TVO,2025,2,1,2425616,909838,1515778,166.60,2425616,...,647618,550247,97371,17.695871,533615,114003,21.364279,585,52.460038,76.451262
8,259,SYNEX,2025,2,1,694197,529751,164446,31.04,694197,...,190158,159905,30253,18.919358,188217,1941,1.031256,495,13.887654,13.805954
9,260,CK,2025,2,1,1981824,1404524,577300,41.10,1981824,...,862763,488081,374682,76.766356,282243,580520,205.680920,106,86.714319,82.366636
10,261,PLANB,2025,2,1,1067915,960289,107626,11.21,1067915,...,270080,263829,6251,2.369338,192513,77567,40.291824,358,13.615291,18.380719
11,262,ADVANC,2025,2,1,39612451,30780229,8832222,28.69,39612451,...,10981885,8577263,2404622,28.034840,10583526,398359,3.763954,6,16.737199,13.471353
12,263,BAM,2025,2,1,2232876,1691342,541534,32.02,2232876,...,1293993,456124,837869,183.693250,216770,1077223,496.942843,709,193.179023,212.959576
13,264,BLA,2025,2,1,5579492,3033411,2546081,83.93,5579492,...,2128385,982985,1145400,116.522633,1189085,939300,78.993512,70,77.566536,35.333393
14,265,COM7,2025,2,1,3716936,2805210,911726,32.50,3716936,...,1003155,753044,250111,33.213331,980654,22501,2.294489,114,18.811955,16.345224
15,266,GFPT,2025,2,1,2205364,1544341,661023,42.80,2205364,...,642113,583084,59029,10.123584,638456,3657,0.572788,187,14.061593,19.589997
16,267,GUNKUL,2025,2,1,1750889,1318230,432659,32.82,1750889,...,484524,461869,22655,4.905070,366965,117559,32.035480,202,17.767638,16.994552
17,268,TTW,2025,2,1,3130292,2840724,289568,10.19,3130292,...,796563,622651,173912,27.930895,668684,127879,19.123981,581,15.781219,9.799397

### PortPg Process

In [12]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

pg_profits = pd.read_sql(sql, conmy)
pg_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 2

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,251,CBG,2025,2,1,3084688,2288670,796018,34.78,3084688,...,800495,690737,109758,15.889984,760482,40013,5.261532,87,14.905379,14.315010
1,252,CKP,2025,2,1,2412207,1105431,1306776,118.21,2412207,...,610152,73920,536232,725.422078,70465,539687,765.893706,107,409.526446,390.202145
2,253,GPSC,2025,2,1,4929121,3440570,1488551,43.26,4929121,...,2019251,1428522,590729,41.352461,1140036,879215,77.121687,197,43.838537,25.996432
3,254,GULF,2025,2,1,95184877,14506279,80678598,556.16,95184877,...,63871479,0,63871479,999.990000,21382850,42488629,198.704237,653,999.990000,NaN
4,255,MTC,2025,2,1,6251924,5225764,1026160,19.64,6251924,...,1647011,1444235,202776,14.040374,1571215,75796,4.824037,315,10.463603,7.733210
5,256,SCC,2025,2,1,18644986,11814106,6830880,57.82,18644986,...,17337286,3707928,13629358,367.573426,1098848,16238438,1477.769264,427,543.725673,636.015611
6,257,SMPC,2025,2,1,598966,477538,121428,25.43,598966,...,207612,197354,10258,5.197766,145446,62166,42.741636,455,18.777351,19.089449
7,258,TVO,2025,2,1,2425616,909838,1515778,166.60,2425616,...,647618,550247,97371,17.695871,533615,114003,21.364279,585,52.460038,76.451262
8,259,SYNEX,2025,2,1,694197,529751,164446,31.04,694197,...,190158,159905,30253,18.919358,188217,1941,1.031256,495,13.887654,13.805954
9,260,CK,2025,2,1,1981824,1404524,577300,41.10,1981824,...,862763,488081,374682,76.766356,282243,580520,205.680920,106,86.714319,82.366636
10,261,PLANB,2025,2,1,1067915,960289,107626,11.21,1067915,...,270080,263829,6251,2.369338,192513,77567,40.291824,358,13.615291,18.380719
11,262,ADVANC,2025,2,1,39612451,30780229,8832222,28.69,39612451,...,10981885,8577263,2404622,28.034840,10583526,398359,3.763954,6,16.737199,13.471353
12,263,BAM,2025,2,1,2232876,1691342,541534,32.02,2232876,...,1293993,456124,837869,183.693250,216770,1077223,496.942843,709,193.179023,212.959576
13,264,BLA,2025,2,1,5579492,3033411,2546081,83.93,5579492,...,2128385,982985,1145400,116.522633,1189085,939300,78.993512,70,77.566536,35.333393
14,265,COM7,2025,2,1,3716936,2805210,911726,32.50,3716936,...,1003155,753044,250111,33.213331,980654,22501,2.294489,114,18.811955,16.345224
15,266,GFPT,2025,2,1,2205364,1544341,661023,42.80,2205364,...,642113,583084,59029,10.123584,638456,3657,0.572788,187,14.061593,19.589997
16,267,GUNKUL,2025,2,1,1750889,1318230,432659,32.82,1750889,...,484524,461869,22655,4.905070,366965,117559,32.035480,202,17.767638,16.994552
17,268,TTW,2025,2,1,3130292,2840724,289568,10.19,3130292,...,796563,622651,173912,27.930895,668684,127879,19.123981,581,15.781219,9.799397

In [13]:
sqlDel = text("DELETE FROM profits WHERE year = :year AND quarter = :quarter")
print(sqlDel)  # Shows the uncompiled SQL with placeholders

# Execute and get the result
result = conpg.execute(sqlDel, {"year": year, "quarter": quarter})
rows_deleted = result.rowcount  # Get the number of rows deleted

print(f"Number of rows deleted: {rows_deleted}")

DELETE FROM profits WHERE year = :year AND quarter = :quarter
Number of rows deleted: 11

In [14]:
sql = 'SELECT name, id FROM tickers'
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape

(396, 2)

In [15]:
df_merge = pd.merge(my_profits, pg_tickers, on="name", how="inner")
df_merge

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct,id_y
0,251,CBG,2025,2,1,3084688,2288670,796018,34.78,3084688,...,690737,109758,15.889984,760482,40013,5.261532,87,14.905379,14.315010,90
1,252,CKP,2025,2,1,2412207,1105431,1306776,118.21,2412207,...,73920,536232,725.422078,70465,539687,765.893706,107,409.526446,390.202145,110
2,253,GPSC,2025,2,1,4929121,3440570,1488551,43.26,4929121,...,1428522,590729,41.352461,1140036,879215,77.121687,197,43.838537,25.996432,202
3,254,GULF,2025,2,1,95184877,14506279,80678598,556.16,95184877,...,0,63871479,999.990000,21382850,42488629,198.704237,653,999.990000,NaN,207
4,255,MTC,2025,2,1,6251924,5225764,1026160,19.64,6251924,...,1444235,202776,14.040374,1571215,75796,4.824037,315,10.463603,7.733210,323
5,256,SCC,2025,2,1,18644986,11814106,6830880,57.82,18644986,...,3707928,13629358,367.573426,1098848,16238438,1477.769264,427,543.725673,636.015611,433
6,257,SMPC,2025,2,1,598966,477538,121428,25.43,598966,...,197354,10258,5.197766,145446,62166,42.741636,455,18.777351,19.089449,463
7,258,TVO,2025,2,1,2425616,909838,1515778,166.60,2425616,...,550247,97371,17.695871,533615,114003,21.364279,585,52.460038,76.451262,594
8,259,SYNEX,2025,2,1,694197,529751,164446,31.04,694197,...,159905,30253,18.919358,188217,1941,1.031256,495,13.887654,13.805954,504
9,260,CK,2025,2,1,1981824,1404524,577300,41.10,1981824,...,488081,374682,76.766356,282243,580520,205.680920,106,86.714319,82.366636,109
10,261,PLANB,2025,2,1,1067915,960289,107626,11.21,1067915,...,263829,6251,2.369338,192513,77567,40.291824,358,13.615291,18.380719,366
11,262,ADVANC,2025,2,1,39612451,30780229,8832222,28.69,39612451,...,8577263,2404622,28.034840,10583526,398359,3.763954,6,16.737199,13.471353,8
12,263,BAM,2025,2,1,2232876,1691342,541534,32.02,2232876,...,456124,837869,183.693250,216770,1077223,496.942843,709,193.179023,212.959576,680
13,264,BLA,2025,2,1,5579492,3033411,2546081,83.93,5579492,...,982985,1145400,116.522633,1189085,939300,78.993512,70,77.566536,35.333393,73
14,265,COM7,2025,2,1,3716936,2805210,911726,32.50,3716936,...,753044,250111,33.213331,980654,22501,2.294489,114,18.811955,16.345224,118
15,266,GFPT,2025,2,1,2205364,1544341,661023,42.80,2205364,...,583084,59029,10.123584,638456,3657,0.572788,187,14.061593,19.589997,192
16,267,GUNKUL,2025,2,1,1750889,1318230,432659,32.82,1750889,...,461869,22655,4.905070,366965,117559,32.035480,202,17.767638,16.994552,208
17,268,TTW,2025,2,1,3130292,2840724,289568,10.19,3130292,...,622651,173912,27.930895,668684,127879,19.123981,581,15.781219,9.799397,590

In [16]:
df_merge = df_merge.drop(columns=['ticker_id']).rename(columns={'id_y': 'ticker_id'})

In [17]:
columns = 'name ticker_id'.split()
df_merge[columns]

      name  ticker_id
0      CBG         90
1      CKP        110
2     GPSC        202
3     GULF        207
4      MTC        323
5      SCC        433
6     SMPC        463
7      TVO        594
8    SYNEX        504
9       CK        109
10   PLANB        366
11  ADVANC          8
12     BAM        680
13     BLA         73
14    COM7        118
15    GFPT        192
16  GUNKUL        208
17     TTW        590

In [18]:
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

In [19]:
final = df_merge[colv].copy()
final.sort_values(by=['ticker_id'],ascending=True).style.format(format_dict)

In [20]:


# Define SQL statement using named placeholders
sqlInsPg = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]
print(sqlInsPg)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)

In [21]:
rcds = final.values.tolist()
print(f"Number of rows to insert: {len(rcds)}")

Number of rows to insert: 18

In [22]:
records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]
#print(records_dicts)

# Check for empty records before attempting insertion
if not rcds:
    print("No records to insert - skipping database operation")
    # In notebook/script context, just proceed to next cell instead of 'return'
try:
    result = conpg.execute(sqlInsPg, records_dicts)  # Bulk insert using named parameters
    rows_insert = result.rowcount
    print(f"{rows_insert} rows inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conpg.commit()

18 rows inserted successfully!

In [23]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

pg_profits = pd.read_sql(sql, conpg)
pg_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 2

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,mean_pct,std_pct,publish_date,ticker_id
0,67810,CBG,2025,2,1,3084688,2288670,796018,34.78,3084688,...,690737,109758,15.889984,760482,40013,5.261532,14.905379,14.315010,None,90
1,67811,CKP,2025,2,1,2412207,1105431,1306776,118.21,2412207,...,73920,536232,725.422078,70465,539687,765.893706,409.526446,390.202145,None,110
2,67812,GPSC,2025,2,1,4929121,3440570,1488551,43.26,4929121,...,1428522,590729,41.352461,1140036,879215,77.121687,43.838537,25.996432,None,202
3,67813,GULF,2025,2,1,95184877,14506279,80678598,556.16,95184877,...,0,63871479,999.990000,21382850,42488629,198.704237,999.990000,NaN,None,207
4,67814,MTC,2025,2,1,6251924,5225764,1026160,19.64,6251924,...,1444235,202776,14.040374,1571215,75796,4.824037,10.463603,7.733210,None,323
5,67815,SCC,2025,2,1,18644986,11814106,6830880,57.82,18644986,...,3707928,13629358,367.573426,1098848,16238438,1477.769264,543.725673,636.015611,None,433
6,67816,SMPC,2025,2,1,598966,477538,121428,25.43,598966,...,197354,10258,5.197766,145446,62166,42.741636,18.777351,19.089449,None,463
7,67817,TVO,2025,2,1,2425616,909838,1515778,166.60,2425616,...,550247,97371,17.695871,533615,114003,21.364279,52.460038,76.451262,None,594
8,67818,SYNEX,2025,2,1,694197,529751,164446,31.04,694197,...,159905,30253,18.919358,188217,1941,1.031256,13.887654,13.805954,None,504
9,67819,CK,2025,2,1,1981824,1404524,577300,41.10,1981824,...,488081,374682,76.766356,282243,580520,205.680920,86.714319,82.366636,None,109
10,67820,PLANB,2025,2,1,1067915,960289,107626,11.21,1067915,...,263829,6251,2.369338,192513,77567,40.291824,13.615291,18.380719,None,366
11,67821,ADVANC,2025,2,1,39612451,30780229,8832222,28.69,39612451,...,8577263,2404622,28.034840,10583526,398359,3.763954,16.737199,13.471353,None,8
12,67822,BAM,2025,2,1,2232876,1691342,541534,32.02,2232876,...,456124,837869,183.693250,216770,1077223,496.942843,193.179023,212.959576,None,680
13,67823,BLA,2025,2,1,5579492,3033411,2546081,83.93,5579492,...,982985,1145400,116.522633,1189085,939300,78.993512,77.566536,35.333393,None,73
14,67824,COM7,2025,2,1,3716936,2805210,911726,32.50,3716936,...,753044,250111,33.213331,980654,22501,2.294489,18.811955,16.345224,None,118
15,67825,GFPT,2025,2,1,2205364,1544341,661023,42.80,2205364,...,583084,59029,10.123584,638456,3657,0.572788,14.061593,19.589997,None,192
16,67826,GUNKUL,2025,2,1,1750889,1318230,432659,32.82,1750889,...,461869,22655,4.905070,366965,117559,32.035480,17.767638,16.994552,None,208
17,67827,TTW,2025,2,1,3130292,2840724,289568,10.19,3130292,...,622651,173912,27.930895,668684,127879,19.123981,15.781219,9.799397,None,590

In [24]:
names = pg_profits["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'CBG', 'CKP', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'TVO', 'SYNEX', 'CK', 'PLANB', 'ADVANC', 'BAM', 'BLA', 'COM7', 'GFPT', 'GUNKUL', 'TTW'"

In [25]:
sql = "SELECT name, year, quarter, publish_date FROM epss WHERE year = %s AND quarter = %s AND name IN (%s)"
sql = sql % (year, quarter, in_p)
df_epss_profits = pd.read_sql(sql, conlt)
df_epss_profits

      name  year  quarter publish_date
0   ADVANC  2025        2   2025-08-13
1      BAM  2025        2   2025-08-13
2      BLA  2025        2   2025-08-13
3      CBG  2025        2   2025-08-08
4       CK  2025        2   2025-08-14
5      CKP  2025        2   2025-08-08
6     COM7  2025        2   2025-08-13
7     GFPT  2025        2   2025-08-13
8     GPSC  2025        2   2025-08-06
9     GULF  2025        2   2025-08-08
10  GUNKUL  2025        2   2025-08-13
11     MTC  2025        2   2025-08-05
12   PLANB  2025        2   2025-08-14
13     SCC  2025        2   2025-07-30
14    SMPC  2025        2   2025-08-07
15   SYNEX  2025        2   2025-08-13
16     TTW  2025        2   2025-08-13
17     TVO  2025        2   2025-08-08

In [26]:
sql = """
SELECT name, year, quarter, publish_date 
FROM epss 
WHERE year = %s AND quarter = %s AND name IN (%s)
""" % (year, quarter, in_p)

df_epss_profits = pd.read_sql(sql, conlt)

if not df_epss_profits.empty:
    update_sql = text("""
        UPDATE profits 
        SET publish_date = :publish_date
        WHERE name = :name AND year = :year AND quarter = :quarter
    """)
    
    # Execute update for each row in df_epss_profits
    for _, row in df_epss_profits.iterrows():
        conpg.execute(update_sql, {
            'publish_date': row['publish_date'],
            'name': row['name'],
            'year': row['year'],
            'quarter': row['quarter']
        })

In [27]:
#After update publish_date from epss to profits
sql = """
SELECT name, year, quarter, publish_date 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

pg_profits = pd.read_sql(sql, conpg)
pg_profits

SELECT name, year, quarter, publish_date
FROM profits
WHERE  year = 2025 AND quarter = 2

      name  year  quarter publish_date
0   ADVANC  2025        2   2025-08-13
1      BAM  2025        2   2025-08-13
2      BLA  2025        2   2025-08-13
3      CBG  2025        2   2025-08-08
4       CK  2025        2   2025-08-14
5      CKP  2025        2   2025-08-08
6     COM7  2025        2   2025-08-13
7     GFPT  2025        2   2025-08-13
8     GPSC  2025        2   2025-08-06
9     GULF  2025        2   2025-08-08
10  GUNKUL  2025        2   2025-08-13
11     MTC  2025        2   2025-08-05
12   PLANB  2025        2   2025-08-14
13     SCC  2025        2   2025-07-30
14    SMPC  2025        2   2025-08-07
15   SYNEX  2025        2   2025-08-13
16     TTW  2025        2   2025-08-13
17     TVO  2025        2   2025-08-08

In [28]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:08:23 23:35:55