In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

output_path = "../data/"
year = 2024
quarter = 4

In [3]:
sql = """
SELECT *
FROM epss
WHERE name = 'GVREIT'
ORDER BY year DESC, quarter DESC
"""
epss = pd.read_sql(sql, conpg)
epss

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,4966148,GVREIT,2024,3,167795,197960,544938,587553,0.0000,0.0000,0.0000,0.0000,209,2024-08-14
1,4966147,GVREIT,2024,2,178836,193037,377143,389593,0.0000,0.0000,0.0000,0.0000,209,2024-05-15
2,4966146,GVREIT,2024,1,198307,196556,198307,196556,0.0000,0.0000,0.0000,0.0000,209,2024-02-15
3,4966145,GVREIT,2023,4,-21830,59007,565723,642744,0.0000,0.0000,0.0000,0.0000,209,2023-11-28
4,4966144,GVREIT,2023,3,197960,196872,587553,583737,0.0000,0.0000,0.0000,0.0000,209,2023-08-15
5,4966143,GVREIT,2023,2,193037,190821,389593,386865,0.0000,0.0000,0.0000,0.0000,209,2023-05-15
6,4966142,GVREIT,2023,1,196556,196044,196556,196044,0.2412,0.2406,0.2412,0.2406,209,2023-02-14
7,4966141,GVREIT,2022,4,59007,84275,642744,705215,0.0724,0.1034,0.7888,0.8655,209,2022-11-24
8,4966140,GVREIT,2022,3,196871,200395,583737,620940,0.2416,0.2459,0.7164,0.7621,209,2022-08-15
9,4966139,GVREIT,2022,2,190821,191491,386865,420545,0.2342,0.2350,0.4748,0.5161,209,2022-05-13
10,4966138,GVREIT,2022,1,196044,229054,196044,229054,0.2406,0.2811,0.2406,0.2811,209,2022-02-10
11,4966137,GVREIT,2021,4,84275,203046,705215,747182,0.1034,0.2492,0.8655,0.9170,209,2021-11-25
12,4966136,GVREIT,2021,3,200395,164635,620940,544136,0.2459,0.2021,0.7621,0.6678,209,2021-08-09
13,4966135,GVREIT,2021,2,191491,186823,420545,379501,0.2350,0.2293,0.5161,0.4658,209,2021-05-07
14,4966134,GVREIT,2021,1,229054,192678,229054,192678,0.2811,0.2365,0.2811,0.2365,209,2021-02-11
15,4966133,GVREIT,2020,4,203046,311230,747182,888301,0.2492,0.3820,0.9170,1.0902,209,2020-11-20
16,4966132,GVREIT,2020,3,164635,188760,544136,577071,0.2021,0.2317,0.6678,0.7082,209,2020-08-14
17,4966131,GVREIT,2020,2,186823,197128,379501,388311,0.2293,0.2419,0.4658,0.4766,209,2020-05-08
18,4966130,GVREIT,2020,1,192678,191183,192678,191183,0.2365,0.2346,0.2365,0.2346,209,2020-02-14
19,4966129,GVREIT,2019,4,311230,495727,888301,1059228,0.3820,0.6084,1.0902,1.3000,209,2019-11-27
20,4966128,GVREIT,2019,3,188760,198716,577071,563501,0.2317,0.2439,0.7082,0.6916,209,2019-08-06
21,4966127,GVREIT,2019,2,197128,185902,388311,364785,0.2419,0.2282,0.4766,0.4477,209,2019-05-09
22,4966126,GVREIT,2019,1,191183,178883,191183,178883,0.2346,0.2195,0.2346,0.2195,209,2019-02-07
23,4966125,GVREIT,2018,4,495727,120694,1059228,647330,0.6084,0.1482,1.3000,0.7945,209,2019-01-31
24,4966124,GVREIT,2018,3,198716,176608,563501,526636,0.2439,0.2168,0.6916,0.6463,209,2018-08-10
25,4966123,GVREIT,2018,2,198716,176608,563501,526636,0.2439,0.2168,0.6916,0.6463,209,2018-08-10
26,4966122,GVREIT,2018,1,178883,170539,178883,170539,0.2195,0.2093,0.2195,0.2093,209,2018-02-13
27,4966121,GVREIT,2017,4,120694,75996,647330,244279,0.1482,0.0933,0.7945,0.2998,209,2017-12-22
28,4966120,GVREIT,2017,3,176608,164195,526636,168283,0.2168,0.2015,0.6463,0.2065,209,2017-12-22

### Profits

In [2]:
sql = """
SELECT *
FROM profits
ORDER BY name
LIMIT 1
"""
profits = pd.read_sql(sql, conpg)
profits.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
mean_pct          float64
std_pct           float64
publish_date       object
ticker_id           int64
dtype: object

In [3]:
sql = """
SELECT *
FROM profits
ORDER BY name
"""
profits = pd.read_sql(sql, conpg)
profits.shape

(32, 24)

In [4]:
sql = """
SELECT P.name, T.id
FROM profits P
JOIN tickers T
ON P.name = T.name
ORDER BY P.name
"""
profits = pd.read_sql(sql, conpg)
profits.shape

(32, 2)

In [5]:
sql = """
SELECT P.name, S.price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id
LEFT JOIN stocks S
ON S.ticker_id = T.id
ORDER BY P.name
"""
profits = pd.read_sql(sql, conpg)
profits.shape

(32, 8)

In [6]:
sql = """
SELECT P.name, S.price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct
FROM profits P
JOIN stocks S
ON P.ticker_id = S.ticker_id
ORDER BY P.name
"""
profits = pd.read_sql(sql, conpg)
profits.shape

(32, 8)

In [7]:
sql = """
SELECT P.name, S.price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct
FROM profits P
LEFT JOIN stocks S
ON P.ticker_id = S.ticker_id
WHERE S.id IS null
ORDER BY P.name
"""
profits = pd.read_sql(sql, conpg)
profits

Empty DataFrame
Columns: [name, price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct]
Index: []

In [8]:
sql = '''
SELECT name, market
FROM stocks
ORDER BY name'''
my_stocks = pd.read_sql(sql, conpg)
my_stocks.dtypes

name      object
market    object
dtype: object

In [9]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [10]:
my_stocks["mrkt"] = np.select(filters, values, default='SET999')
my_stocks.head()

     name                       market    mrkt
0     ACE         SET100 / SETTHSI      SET100
1  ADVANC  SET50 / SETHD / SETTHSI       SET50
2  AEONTS                      SET      SET999
3      AH           sSET / SETTHSI      SET999
4     AIE                     sSET      SET999

In [11]:
df_merge = pd.merge(profits, my_stocks, on='name', how='inner')
df_merge.groupby('mrkt').count()

Empty DataFrame
Columns: [price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, name, market]
Index: []

In [12]:
set50 = df_merge[df_merge['mrkt'] == 'SET50']
set50.sort_values('name',ascending=True)

Empty DataFrame
Columns: [price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, name, market, mrkt]
Index: []

In [13]:
set100 = df_merge[df_merge['mrkt'] == 'SET100']
set100.sort_values('name',ascending=True)

Empty DataFrame
Columns: [price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, name, market, mrkt]
Index: []

In [14]:
set999 = df_merge[df_merge['mrkt'] == 'set999']
set999.sort_values('name',ascending=True)

Empty DataFrame
Columns: [price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, name, market, mrkt]
Index: []

### Tickers

In [5]:
name = 'GVREIT'
sql = """
SELECT * 
FROM tickers
WHERE name = '%s'
"""
sql = sql % name
ticker = pd.read_sql(sql, conpg)
ticker

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,209,GVREIT,GOLDEN VENTURES LEASEHOLD REAL ESTATE INVESTME...,Property & Construction,Property Fund & REITs,SET,www.gvreit.com,2018-04-22 04:29:37.417731,2018-04-22 04:29:37.417731

In [7]:
ticker.dtypes

id                     int64
name                  object
full_name             object
sector                object
subsector             object
market                object
website               object
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [9]:
sql = '''
SELECT * 
FROM tickers
'''
tickers = pd.read_sql(sql, conpg)
tickers.shape

(396, 9)

In [11]:
# count the number of unique values in the 'name' column
unique_names = tickers['name'].nunique()

print(unique_names)

396

In [13]:
# count the number of occurrences of each name
name_counts = tickers['name'].value_counts(dropna=False)

# filter the result to show only non-unique names
non_unique_names = name_counts[name_counts > 1]

print(non_unique_names)

Series([], Name: count, dtype: int64)

In [15]:
rcds = tickers.values.tolist()
len(rcds)

396

In [17]:
for rcd in rcds:
    print(rcd)

[697, 'EP', 'EASTERN POWER GROUP PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'sSET', 'www.epco.co.th', Timestamp('2021-06-03 02:53:59.706398'), Timestamp('2021-06-03 02:53:59.706398')]
[8, 'ADVANC', 'ADVANCED INFO SERVICE PUBLIC COMPANY LIMITED', 'Technology', 'Information & Communication Technology', 'SET50 / SETHD / SETTHSI', 'investor.ais.co.th', Timestamp('2018-04-22 04:29:36.118727'), Timestamp('2021-07-07 03:33:38.798595')]
[13, 'AIMIRT', 'AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD REAL ESTATE INVESTMENT TRUST', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.aimreit.com', Timestamp('2018-04-22 04:29:36.146073'), Timestamp('2018-04-22 04:29:36.146073')]
[14, 'AIT', 'ADVANCED INFORMATION TECHNOLOGY PUBLIC CO.,LTD.', 'Technology', 'Information & Communication Technology', 'sSET', 'www.ait.co.th', Timestamp('2018-04-22 04:29:36.152088'), Timestamp('2018-04-22 04:29:36.152088')]
[11, 'AH', 'AAPICO HITECH PUBLIC COMPANY LIMITED', 'Industrials', 'Automotive', 'sSET / SETTHSI', 'www.aapico.com', Timestamp('2018-04-22 04:29:36.134601'), Timestamp('2021-07-07 03:33:38.806441')]
[15, 'AJ', 'A.J. PLAST PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'sSET / SETCLMV', 'www.ajplast.co.th', Timestamp('2018-04-22 04:29:36.157101'), Timestamp('2021-07-07 03:33:38.813126')]
[29, 'AP', 'AP (THAILAND) PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET100 / SETHD', 'www.apthai.com', Timestamp('2018-04-22 04:29:36.295770'), Timestamp('2018-04-22 04:29:36.295770')]
[33, 'AQUA', 'AQUA CORPORATION PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET', 'www.aquacorp.co.th', Timestamp('2018-04-22 04:29:36.316984'), Timestamp('2018-04-22 04:29:36.316984')]
[31, 'APCS', 'ASIA PRECISION PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Services', 'sSET', 'www.asiaprecision.com', Timestamp('2018-04-22 04:29:36.306563'), Timestamp('2021-07-07 03:33:38.825781')]
[32, 'APURE', 'AGRIPURE HOLDINGS PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET', 'www.apureholdings.com', Timestamp('2018-04-22 04:29:36.312579'), Timestamp('2021-07-07 03:33:38.827640')]
[701, 'LPF', "LOTUS'S RETAIL GROWTH FREEHOLD AND LEASEHOLD PROPERTY FUND", 'Property & Construction', 'Property Fund & REITs', 'SET', None, Timestamp('2021-07-07 03:33:39.022568'), Timestamp('2021-07-07 03:33:39.022568')]
[44, 'ASP', 'ASIA PLUS GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.asiaplusgroup.co.th', Timestamp('2018-04-22 04:29:36.379149'), Timestamp('2018-04-22 04:29:36.379149')]
[702, 'ILM', 'INDEX LIVING MALL PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'sSET', 'www.indexlivingmall.com', Timestamp('2021-08-07 15:07:36.278125'), Timestamp('2021-08-07 15:07:36.278125')]
[46, 'AU', 'AFTER YOU PUBLIC COMPANY LIMITED', 'Agro & Food Industry', None, 'mai', 'www.afteryoudessertcafe.com', Timestamp('2018-04-22 04:29:36.390176'), Timestamp('2018-04-22 04:29:36.390176')]
[47, 'AUCT', 'UNION AUCTION PUBLIC COMPANY LIMITED', 'Services', None, 'mai', 'www.auct.co.th', Timestamp('2018-04-22 04:29:36.394912'), Timestamp('2018-04-22 04:29:36.394912')]
[23, 'AMARIN', 'AMARIN PRINTING AND PUBLISHING PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET', 'www.amarin.com', Timestamp('2018-04-22 04:29:36.260757'), Timestamp('2018-07-04 15:30:18.338387')]
[38, 'ASEFA', 'ASEFA PUBLIC COMPANY LIMITED', 'Industrials', 'Industrial Materials & Machinery', 'SET', 'www.asefa.co.th', Timestamp('2018-04-22 04:29:36.345959'), Timestamp('2018-07-04 15:30:18.485682')]
[9, 'AEONTS', 'AEON THANA SINSAP (THAILAND) PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET100', 'www.aeon.co.th', Timestamp('2018-04-22 04:29:36.124123'), Timestamp('2019-03-03 03:45:00.149450')]
[17, 'AKR', 'EKARAT ENGINEERING PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET', 'www.ekarat.co.th', Timestamp('2018-04-22 04:29:36.168158'), Timestamp('2019-03-03 03:45:00.403277')]
[24, 'AMATA', 'AMATA CORPORATION PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET100 / SETCLMV / SETTHSI', 'www.amata.com', Timestamp('2018-04-22 04:29:36.266775'), Timestamp('2019-03-03 03:45:00.434583')]
[53, 'BAY', 'BANK OF AYUDHYA PUBLIC COMPANY LIMITED', 'Financials', 'Banking', 'SET', 'www.krungsri.com', Timestamp('2018-04-22 04:29:36.430012'), Timestamp('2018-04-22 04:29:36.430012')]
[28, 'AOT', 'AIRPORTS OF THAILAND PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET50 / SETTHSI / SETWB', 'www.airportthai.co.th', Timestamp('2018-04-22 04:29:36.290018'), Timestamp('2019-11-19 07:13:52.348140')]
[48, 'AYUD', 'ALLIANZ AYUDHYA CAPITAL PUBLIC COMPANY LIMITED', 'Financials', 'Insurance', 'SET', 'www.ayud.co.th', Timestamp('2018-04-22 04:29:36.401349'), Timestamp('2019-11-19 07:13:52.462308')]
[50, 'BAFS', 'BANGKOK AVIATION FUEL SERVICES PCL.', 'Resources', 'Energy & Utilities', 'sSET / SETTHSI', 'www.bafsthai.com', Timestamp('2018-04-22 04:29:36.413629'), Timestamp('2020-07-06 13:23:58.562065')]
[55, 'BCH', 'BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET100 / SETWB', 'www.bangkokchainhospital.com', Timestamp('2018-04-22 04:29:36.442067'), Timestamp('2019-11-19 07:13:52.520896')]
[22, 'AMANAH', 'AMANAH LEASING PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.amanah.co.th', Timestamp('2018-04-22 04:29:36.255986'), Timestamp('2020-07-06 13:23:58.483615')]
[27, 'ANAN', 'ANANDA DEVELOPMENT PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'sSET', 'www.ananda.co.th', Timestamp('2018-04-22 04:29:36.282999'), Timestamp('2020-07-06 13:23:58.499209')]
[704, '2S', '2S METAL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.ss.co.th', Timestamp('2021-08-22 15:12:52.288880'), Timestamp('2021-08-22 15:12:52.288880')]
[706, 'BCT', 'BIRLA CARBON (THAILAND) PUBLIC COMPANY LIMITED', 'Industrials', 'Petrochemicals & Chemicals', 'SET', 'www.birlacarbon.com', Timestamp('2021-08-22 15:12:52.300533'), Timestamp('2021-08-22 15:12:52.300533')]
[42, 'ASK', 'ASIA SERMKIJ LEASING PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'www.ask.co.th', Timestamp('2018-04-22 04:29:36.368184'), Timestamp('2022-01-15 03:54:48.237063')]
[51, 'BANPU', 'BANPU PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETCLMV / SETTHSI', 'www.banpu.com', Timestamp('2018-04-22 04:29:36.418977'), Timestamp('2022-01-15 03:54:48.247553')]
[708, 'SFLEX', 'STARFLEX PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'sSET', 'www.starflex.co.th', Timestamp('2021-08-22 15:12:52.306051'), Timestamp('2021-08-22 15:12:52.306051')]
[26, 'AMC', 'ASIA METAL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.asiametal.co.th', Timestamp('2018-04-22 04:29:36.278054'), Timestamp('2021-08-22 18:22:07.259053')]
[713, 'IP', 'INTER PHARMA PUBLIC COMPANY LIMITED', 'Consumer Products', 'Consumer Products', 'mai', 'www.interpharma.co.th', Timestamp('2021-10-25 15:08:35.006030'), Timestamp('2021-10-25 15:08:35.006030')]
[714, 'TYCN', 'TYCOONS WORLDWIDE GROUP (THAILAND) PUBLIC CO.,LTD.', 'Industrials', 'Steel and Metal Products', 'SET', 'www.tycons.com', Timestamp('2021-11-04 15:13:55.164789'), Timestamp('2021-11-04 15:13:55.164789')]
[715, 'INSET', 'INFRASET PUBLIC COMPANY LIMITED', 'Technology', 'Technology', 'mai', 'www.infraset.co.th', Timestamp('2021-11-27 02:53:02.069805'), Timestamp('2021-11-27 02:53:02.069805')]
[35, 'ARROW', 'ARROW SYNDICATE PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property & Construction', 'mai', 'www.arrowpipe.com', Timestamp('2018-04-22 04:29:36.328888'), Timestamp('2022-01-15 03:54:48.233454')]
[40, 'ASIAN', 'ASIAN SEA CORPORATION PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET / SETTHSI', 'www.asianseafoods.co.th', Timestamp('2018-04-22 04:29:36.356981'), Timestamp('2022-01-15 03:54:48.235305')]
[705, 'ASW', 'ASSETWISE PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'sSET', 'www.assetwise.co.th', Timestamp('2021-08-22 15:12:52.296927'), Timestamp('2022-01-15 03:54:48.239827')]
[49, 'BA', 'BANGKOK AIRWAYS PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SETWB', 'www.bangkokair.com', Timestamp('2018-04-22 04:29:36.407546'), Timestamp('2022-01-15 03:54:48.244763')]
[707, 'IMH', 'INTERMEDICAL CARE AND LAB HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Services', 'mai', 'www.intermedthai.com/', Timestamp('2021-08-22 15:12:52.303160'), Timestamp('2022-01-15 03:54:48.372913')]
[695, 'MBAX', 'MULTIBAX PUBLIC COMPANY LIMITED', 'Industrial', 'Industrial', 'mai', 'www.multibax.com', Timestamp('2017-07-23 06:31:24.517698'), Timestamp('2022-01-15 03:54:48.419041')]
[696, 'TIDLOR', 'NGERN TID LOR PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET50', 'www.ngerntidlor.com/th/home.html', Timestamp('2021-05-10 23:20:28.115721'), Timestamp('2022-01-15 03:54:48.551252')]
[703, 'VNG', 'VANACHAI GROUP PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'sSET / SETCLMV', 'www.vanachai.com', Timestamp('2021-08-14 06:09:40.594032'), Timestamp('2022-01-15 03:54:48.599061')]
[717, 'KEX', 'KERRY EXPRESS (THAILAND) PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET100 / SETTHSI / SETWB', 'https://th.kerryexpress.com/th/home', Timestamp('2022-01-15 04:28:34.791314'), Timestamp('2022-01-15 04:28:34.791314')]
[718, 'ONEE', 'THE ONE ENTERPRISE PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET100', 'www.theoneenterprise.com', Timestamp('2022-07-03 00:18:22.223224'), Timestamp('2022-07-03 00:18:22.223224')]
[719, 'ALLY,ALLY LEASEHOLD REAL ESTATE INVESTMENT TRUST,Property & Construction,Property Fund & REITs,SET,www.allyreit.com', None, None, None, None, None, Timestamp('2022-07-13 09:57:39.085887'), Timestamp('2022-07-13 09:57:39.085887')]
[720, 'BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.beryl8.com', None, None, None, None, None, Timestamp('2022-08-03 08:20:03.078263'), Timestamp('2022-08-03 08:20:03.078263')]
[76, 'BOFFICE', 'BHIRAJ OFFICE LEASEHOLD REAL ESTATE INVESTMENT TRUST', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.bofficereit.com', Timestamp('2018-04-22 04:29:36.562568'), Timestamp('2018-04-22 04:29:36.562568')]
[60, 'BEC', 'BEC WORLD PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET100', 'www.becworld.com', Timestamp('2018-04-22 04:29:36.470823'), Timestamp('2021-07-07 03:33:38.857810')]
[87, 'BTSGIF', 'BTS RAIL MASS TRANSIT GROWTH INFRASTRUCTURE FUND', 'Services', 'Transportation & Logistics', 'SET', 'www.btsgif.com', Timestamp('2018-04-22 04:29:36.637953'), Timestamp('2018-04-22 04:29:36.637953')]
[91, 'CCET', 'CAL-COMP ELECTRONICS (THAILAND) PUBLIC CO., LTD.', 'Technology', 'Electronic Components', 'sSET', 'www.calcomp.co.th', Timestamp('2018-04-22 04:29:36.681704'), Timestamp('2021-07-07 03:33:38.878413')]
[92, 'CCP', 'CHONBURI CONCRETE PRODUCT PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'SET', 'www.ccp.co.th', Timestamp('2018-04-22 04:29:36.687151'), Timestamp('2018-04-22 04:29:36.687151')]
[97, 'CGH', 'COUNTRY GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.cgholdings.co.th', Timestamp('2018-04-22 04:29:36.714965'), Timestamp('2021-07-07 03:33:38.882310')]
[83, 'BSBM', 'BANGSAPHAN BARMILL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.bsbm.co.th', Timestamp('2018-04-22 04:29:36.616028'), Timestamp('2021-08-22 18:22:07.314686')]
[63, 'BGRIM', 'B.GRIMM POWER PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETCLMV / SETTHSI', 'www.bgrimmpower.com', Timestamp('2018-04-22 04:29:36.486869'), Timestamp('2019-03-03 03:45:01.036201')]
[107, 'CIMBT', 'CIMB THAI BANK PUBLIC COMPANY LIMITED', 'Financials', 'Banking', 'SET', 'www.cimbthai.com', Timestamp('2018-04-22 04:29:36.769613'), Timestamp('2018-04-22 04:29:36.769613')]
[65, 'BH', 'BUMRUNGRAD HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET50 / SETCLMV / SETWB', 'www.bumrungrad.com', Timestamp('2018-04-22 04:29:36.498902'), Timestamp('2019-11-19 07:13:52.572757')]
[74, 'BLAND', 'BANGKOK LAND PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET', 'www.bangkokland.co.th', Timestamp('2018-04-22 04:29:36.550524'), Timestamp('2020-07-06 13:23:58.655824')]
[90, 'CBG', 'CARABAO GROUP PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET50 / SETCLMV / SETWB', 'www.carabaogroup.com', Timestamp('2018-04-22 04:29:36.676657'), Timestamp('2019-11-19 07:13:52.645296')]
[94, 'CENTEL', 'CENTRAL PLAZA HOTEL PUBLIC COMPANY LIMITED', 'Services', 'Tourism & Leisure', 'SET100 / SETTHSI / SETWB', 'www.centarahotelsresorts.com', Timestamp('2018-04-22 04:29:36.697973'), Timestamp('2019-11-19 07:13:52.658266')]
[101, 'CHG', 'CHULARAT HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET100 / SETWB', 'www.chularat.com', Timestamp('2018-04-22 04:29:36.736498'), Timestamp('2019-11-19 07:13:52.679265')]
[716, 'UOBKH', 'UOB KAY HIAN SECURITIES (THAILAND) PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'https://www.utrade.co.th/', Timestamp('2021-11-27 03:27:14.481201'), Timestamp('2021-11-27 03:27:14.481201')]
[709, 'AAV', 'ASIA AVIATION PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'sSET / SETTHSI', 'www.aavplc.com', Timestamp('2021-08-29 06:32:10.450906'), Timestamp('2022-01-15 03:54:48.204869')]
[59, 'BEAUTY', 'BEAUTY COMMUNITY PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SET', 'www.beautycommunity.co.th', Timestamp('2018-04-22 04:29:36.464423'), Timestamp('2022-01-15 03:54:48.257841')]
[86, 'BTS', 'BTS GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET50 / SETTHSI / SETWB', 'www.btsgroup.co.th', Timestamp('2018-04-22 04:29:36.632245'), Timestamp('2020-07-06 13:23:58.687066')]
[68, 'BJC', 'BERLI JUCKER PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SETCLMV / SETTHSI / SETWB', 'www.bjc.co.th', Timestamp('2018-04-22 04:29:36.516330'), Timestamp('2022-01-15 03:54:48.271965')]
[82, 'BRR', 'BURIRAM SUGAR PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET', 'www.buriramsugar.com', Timestamp('2018-04-22 04:29:36.610114'), Timestamp('2022-01-15 03:54:48.279382')]
[99, 'CHAYO', 'CHAYO GROUP PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'www.chayo555.com', Timestamp('2018-04-22 04:29:36.725800'), Timestamp('2022-01-15 03:54:48.288817')]
[710, 'NRF', 'NR INSTANT PRODUCE PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET', 'https://www.nrinstant.com/', Timestamp('2021-08-29 06:32:10.461477'), Timestamp('2022-01-15 03:54:48.436055')]
[73, 'BLA', 'BANGKOK LIFE ASSURANCE PUBLIC COMPANY LIMITED', 'Financials', 'Insurance', 'SET50 / SETTHSI', 'www.bangkoklife.com', Timestamp('2018-04-22 04:29:36.544508'), Timestamp('2022-01-15 03:54:48.274772')]
[711, 'PSL', 'PRECIOUS SHIPPING PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET100', 'www.preciousshipping.com', Timestamp('2021-08-29 06:32:10.465249'), Timestamp('2022-01-15 03:54:48.462830')]
[721, 'BE8', 'BERYL 8 PLUS PUBLIC COMPANY LIMITED', 'Technology', 'Technology', 'mai', 'www.beryl8.com', Timestamp('2022-08-05 10:06:47.629079'), Timestamp('2022-08-05 10:06:47.629079')]
[123, 'CPI', 'CHUMPORN PALM OIL INDUSTRY PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET', 'www.cpi-th.com', Timestamp('2018-04-22 04:29:36.878447'), Timestamp('2018-04-22 04:29:36.878447')]
[126, 'CPNCG', 'CPN COMMERCIAL GROWTH LEASEHOLD PROPERTY FUND', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.cpncg.com', Timestamp('2018-04-22 04:29:36.894495'), Timestamp('2018-04-22 04:29:36.894495')]
[127, 'CPNREIT', 'CPN RETAIL GROWTH LEASEHOLD REIT', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.cpnreit.com', Timestamp('2018-04-22 04:29:36.900508'), Timestamp('2018-04-22 04:29:36.900508')]
[133, 'CSC', 'CROWN SEAL PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'SET', 'www.crownseal.co.th', Timestamp('2018-04-22 04:29:36.935013'), Timestamp('2018-04-22 04:29:36.935013')]
[139, 'CWT', 'CHAI WATANA TANNERY GROUP PUBLIC COMPANY LIMITED', 'Industrials', 'Automotive', 'SET', 'www.cwt.co.th', Timestamp('2018-04-22 04:29:36.992433'), Timestamp('2018-04-22 04:29:36.992433')]
[141, 'DCON', 'DCON PRODUCTS PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'SET', 'www.dconproduct.com', Timestamp('2018-04-22 04:29:37.004166'), Timestamp('2018-04-22 04:29:37.004166')]
[151, 'DUSIT', 'DUSIT THANI PUBLIC COMPANY LIMITED', 'Services', 'Tourism & Leisure', 'SET', 'www.dusit.com', Timestamp('2018-04-22 04:29:37.057835'), Timestamp('2018-04-22 04:29:37.057835')]
[146, 'DIF', 'DIGITAL TELECOMMUNICATIONS INFRASTRUCTURE FUND', 'Technology', 'Information & Communication Technology', 'SET', 'www.digital-tif.com', Timestamp('2018-04-22 04:29:37.030748'), Timestamp('2018-04-22 04:29:37.030748')]
[121, 'CPF', 'CHAROEN POKPHAND FOODS PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET50 / SETCLMV / SETHD / SETTHSI / SETWB', 'www.cpfworldwide.com', Timestamp('2018-04-22 04:29:36.867977'), Timestamp('2021-07-07 03:33:38.893396')]
[137, 'CSS', 'COMMUNICATION AND SYSTEM SOLUTION PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SET', 'www.cssthai.com', Timestamp('2018-04-22 04:29:36.980401'), Timestamp('2018-07-04 15:30:18.847062')]
[138, 'CTW', 'CHAROONG THAI WIRE & CABLE PUBLIC COMPANY LIMITED', 'Industrials', 'Industrial Materials & Machinery', 'sSET', 'www.ctw.co.th', Timestamp('2018-04-22 04:29:36.986424'), Timestamp('2021-07-07 03:33:38.904978')]
[143, 'DDD', 'DO DAY DREAM PUBLIC COMPANY LIMITED', 'Consumer Products', 'Personal Products & Pharmaceuticals', 'sSET', 'www.dodaydream.com', Timestamp('2018-04-22 04:29:37.014603'), Timestamp('2019-03-03 03:45:01.305276')]
[153, 'EA', 'ENERGY ABSOLUTE PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETTHSI', 'www.energyabsolute.co.th', Timestamp('2018-04-22 04:29:37.068618'), Timestamp('2019-03-03 03:45:01.336519')]
[160, 'EGATIF', 'NORTH BANGKOK POWER PLANT BLOCK 1 INFRASTRUCTURE FUND, ELECTRICITY GENERATING AUTHORITY OF THAILAND', 'Resources', 'Energy & Utilities', 'SET', 'www.ktam.co.th', Timestamp('2018-04-22 04:29:37.128806'), Timestamp('2018-04-22 04:29:37.128806')]
[169, 'ESSO', 'ESSO (THAILAND) PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET100', 'www.esso.co.th', Timestamp('2018-04-22 04:29:37.176564'), Timestamp('2018-04-22 04:29:37.176564')]
[149, 'DRT', 'DIAMOND BUILDING PRODUCTS PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'sSET / SETCLMV / SETTHSI', 'www.dbp.co.th', Timestamp('2018-04-22 04:29:37.045816'), Timestamp('2021-07-07 03:33:38.915472')]
[172, 'EVER', 'EVERLAND PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET', 'www.everland.co.th', Timestamp('2018-04-22 04:29:37.193489'), Timestamp('2018-04-22 04:29:37.193489')]
[125, 'CPN', 'CENTRAL PATTANA PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET50 / SETTHSI', 'www.centralpattana.co.th', Timestamp('2018-04-22 04:29:36.889481'), Timestamp('2020-07-06 13:23:58.874529')]
[170, 'ESTAR', 'EASTERN STAR REAL ESTATE PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET', 'www.estarpcl.com', Timestamp('2018-04-22 04:29:37.182426'), Timestamp('2019-11-19 07:13:52.892653')]
[135, 'CSP', 'CSP STEEL CENTER PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.cspsteel.com', Timestamp('2018-04-22 04:29:36.945056'), Timestamp('2021-08-22 18:22:07.343124')]

In [22]:
for rcd in rcds:
    conpg.execute("""INSERT INTO tickers (id, name, full_name, sector, \
subsector, market, website, created_at, \
updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near ","
LINE 1: ...market, website, created_at, updated_at) VALUES( ?, ?, ?, ?,...
                                                             ^

[SQL: INSERT INTO tickers (id, name, full_name, sector, subsector, market, website, created_at, updated_at) VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (697, 'EP', 'EASTERN POWER GROUP PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'sSET', 'www.epco.co.th', Timestamp('2021-06-03 02:53:59.706398'), Timestamp('2021-06-03 02:53:59.706398'))]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [23]:
sql = 'SELECT * FROM tickers ORDER BY id'
tickers_out = pd.read_sql(sql, conpg)
tickers_out.tail()

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
398,718,ONEE,THE ONE ENTERPRISE PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.theoneenterprise.com,2022-07-03 00:18:22.223224,2022-07-03 00:18:22.223224
399,719,"ALLY,ALLY LEASEHOLD REAL ESTATE INVESTMENT TRU...",None,None,None,None,None,2022-07-13 09:57:39.085887,2022-07-13 09:57:39.085887
400,720,"BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Techno...",None,None,None,None,None,2022-08-03 08:20:03.078263,2022-08-03 08:20:03.078263
401,721,BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.beryl8.com,2022-08-05 10:06:47.629079,2022-08-05 10:06:47.629079
402,722,FPT,FRASERS PROPERTY (THAILAND) PUBLIC COMPANY LIM...,Property & Construction,Property Development,SET,https://www.frasersproperty.co.th,2022-08-07 08:04:12.049363,2022-08-07 08:04:12.049363

### End of Tickers

### Stocks

In [2]:
name = 'SCB'
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
stock = pd.read_sql(sql, conpg)
stock

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,949,SCB,SET50 / SETCLMV / SETTHSI,107.5,121.5,89.75,8.93,0.79,33671.07,361964.03,1339.53,1.29,432,2022-05-21 08:54:18.067902,2023-01-31 03:06:39.430076

In [3]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_inp = pd.read_sql(sql, conpg)
stocks_inp.tail()

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
223,950,ONEE,SET100,8.00,13.10,7.50,23.85,2.73,4762.50,19050.00,67.11,1.46,718,2022-07-03 13:29:59.198041,2023-01-31 03:06:39.319324
224,951,BE8,mai,63.25,66.75,29.00,122.44,10.74,120.32,13573.09,149.36,1.33,721,2022-08-05 10:28:19.003762,2023-01-31 03:06:38.996459
225,952,FPT,SET,15.30,15.60,13.20,14.40,0.98,2319.28,35484.94,1.28,0.30,722,2022-08-07 08:04:35.738278,2023-01-31 03:06:39.130290
226,953,III,sSET,15.30,16.97,11.31,23.43,4.00,369.35,11302.08,90.23,0.92,226,2022-11-09 12:58:39.116494,2023-01-31 03:06:39.177288
227,954,SABUY,SET100 / SETWB,12.70,36.00,9.95,19.59,2.28,1605.99,20396.02,303.55,2.24,700,2022-11-09 12:58:39.129554,2023-01-31 03:06:39.415728

In [4]:
rcds = stocks_inp.values.tolist()
len(rcds)

228

In [5]:
for rcd in rcds:
    print(rcd)

[718, 'ACE', 'SET100 / SETTHSI    ', 2.56, 3.42, 2.52, 17.72, 1.82, 5088.0, 26050.56, 54.63, 0.92, 667, Timestamp('2022-05-17 18:59:06.146232'), Timestamp('2023-01-31 03:06:38.880925')]
[719, 'ADVANC', 'SET50 / SETHD / SETTHSI    ', 197.5, 242.0, 181.5, 23.03, 7.52, 2974.21, 587406.42, 954.23, 0.79, 8, Timestamp('2022-05-17 18:59:06.164482'), Timestamp('2023-01-31 03:06:38.885533')]
[720, 'AEONTS', 'SET    ', 196.5, 209.0, 152.0, 12.18, 2.26, 250.0, 49125.0, 100.95, 1.15, 9, Timestamp('2022-05-17 18:59:06.169113'), Timestamp('2023-01-31 03:06:38.889195')]
[721, 'AH', 'sSET / SETTHSI    ', 32.5, 35.75, 19.4, 7.48, 1.21, 354.84, 11532.37, 70.31, 1.51, 11, Timestamp('2022-05-17 18:59:06.173369'), Timestamp('2023-01-31 03:06:38.892730')]
[722, 'AIE', 'sSET    ', 2.82, 5.1, 2.56, 21.16, 1.83, 1326.61, 3741.05, 7.19, 1.17, 691, Timestamp('2022-05-17 18:59:06.177368'), Timestamp('2023-01-31 03:06:38.899853')]
[723, 'AIMIRT', 'SET    ', 12.3, 13.0, 11.7, 999.99, 1.0, 5954.81, 7324.41, 2.58, 0.09, 13, Timestamp('2022-05-17 18:59:06.185017'), Timestamp('2023-01-31 03:06:38.903310')]
[724, 'AIT', 'sSET    ', 6.7, 8.35, 5.4, 15.32, 2.46, 1331.13, 8918.54, 40.18, 1.48, 14, Timestamp('2022-05-17 18:59:06.189281'), Timestamp('2023-01-31 03:06:38.906940')]
[725, 'AJ', 'sSET / SETCLMV / SETTHSI    ', 13.0, 19.6, 11.7, 13.6, 1.21, 440.0, 5720.0, 8.63, 0.95, 15, Timestamp('2022-05-17 18:59:06.193037'), Timestamp('2023-01-31 03:06:38.910143')]
[727, 'AMATA', 'SET100 / SETCLMV / SETTHSI    ', 20.0, 23.0, 17.1, 10.02, 1.2, 1150.0, 23000.0, 177.04, 1.61, 24, Timestamp('2022-05-17 18:59:06.200446'), Timestamp('2023-01-31 03:06:38.913272')]
[728, 'ANAN', 'sSET    ', 1.43, 1.6, 1.11, 999.99, 0.41, 416.63, 5957.74, 29.54, 1.24, 27, Timestamp('2022-05-17 18:59:06.205805'), Timestamp('2023-01-31 03:06:38.916366')]
[729, 'AOT', 'SET50 / SETTHSI    ', 75.25, 76.5, 61.25, 999.99, 10.61, 14285.7, 1074998.93, 1967.44, 0.71, 28, Timestamp('2022-05-17 18:59:06.210011'), Timestamp('2023-01-31 03:06:38.919492')]
[730, 'AP', 'SET100 / SETHD / SETTHSI    ', 11.9, 12.0, 9.0, 6.55, 1.05, 3145.9, 37436.2, 195.27, 0.83, 29, Timestamp('2022-05-17 18:59:06.214037'), Timestamp('2023-01-31 03:06:38.922545')]
[731, 'ASIAN', 'sSET / SETTHSI    ', 13.7, 19.4, 12.9, 10.93, 2.61, 814.09, 11153.0, 16.12, 0.9, 40, Timestamp('2022-05-17 18:59:06.220848'), Timestamp('2023-01-31 03:06:38.925648')]
[732, 'ASK', 'SET    ', 32.75, 49.5, 28.25, 11.97, 1.75, 2639.22, 17286.87, 50.11, 1.75, 42, Timestamp('2022-05-17 18:59:06.225779'), Timestamp('2023-01-31 03:06:38.929646')]
[733, 'ASP', 'sSET    ', 3.1, 3.98, 2.92, 13.34, 1.39, 2105.66, 6527.53, 7.02, 0.69, 44, Timestamp('2022-05-17 18:59:06.230654'), Timestamp('2023-01-31 03:06:38.935734')]
[734, 'ASW', 'sSET / SETTHSI    ', 7.95, 9.4, 7.35, 7.51, 1.31, 856.12, 6806.16, 8.69, 0.47, 705, Timestamp('2022-05-17 18:59:06.234759'), Timestamp('2023-01-31 03:06:38.940592')]
[735, 'AWC', 'SET50 / SETTHSI    ', 6.05, 6.55, 4.56, 56.69, 2.38, 32000.77, 193604.66, 316.9, 1.13, 668, Timestamp('2022-05-17 18:59:06.238663'), Timestamp('2023-01-31 03:06:38.945976')]
[736, 'BA', 'SET    ', 14.6, 14.8, 8.4, 999.99, 1.82, 2100.0, 30660.0, 64.57, 1.28, 49, Timestamp('2022-05-17 18:59:06.243038'), Timestamp('2023-01-31 03:06:38.950517')]
[737, 'BAM', 'SET100 / SETTHSI    ', 15.9, 22.3, 14.5, 18.06, 1.2, 16160.21, 51389.47, 411.04, 1.35, 680, Timestamp('2022-05-17 18:59:06.246766'), Timestamp('2023-01-31 03:06:38.955255')]
[738, 'BANPU', 'SET50 / SETCLMV / SETTHSI    ', 12.0, 15.0, 10.5, 2.29, 0.91, 8454.16, 101449.94, 1482.62, 0.72, 51, Timestamp('2022-05-17 18:59:06.253667'), Timestamp('2023-01-31 03:06:38.960512')]
[739, 'BAY', 'SET    ', 32.25, 37.75, 28.75, 7.99, 0.71, 73557.62, 237223.32, 22.7, 0.63, 53, Timestamp('2022-05-17 18:59:06.258357'), Timestamp('2023-01-31 03:06:38.965579')]
[740, 'BBL', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 161.0, 163.0, 124.5, 10.95, 0.6, 19088.43, 307323.71, 2107.11, 0.86, 54, Timestamp('2022-05-17 18:59:06.262117'), Timestamp('2023-01-31 03:06:38.970283')]
[741, 'BCH', 'SET100 / SETCLMV / SETHD / SETWB    ', 21.1, 23.1, 16.8, 10.02, 4.32, 2493.75, 52618.08, 195.79, 0.33, 55, Timestamp('2022-05-17 18:59:06.266408'), Timestamp('2023-01-31 03:06:38.979418')]
[742, 'BCP', 'SET100 / SETCLMV / SETTHSI    ', 36.75, 39.0, 27.25, 3.63, 0.8, 1376.92, 50601.93, 511.26, 0.66, 56, Timestamp('2022-05-17 18:59:06.270105'), Timestamp('2023-01-31 03:06:38.983232')]
[743, 'BCPG', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 9.9, 13.4, 8.7, 11.19, 0.97, 14538.7, 28786.11, 56.36, 1.18, 57, Timestamp('2022-05-17 18:59:06.274218'), Timestamp('2023-01-31 03:06:38.986758')]
[744, 'BCT', 'SET    ', 59.0, 68.5, 47.5, 3.19, 0.63, 300.0, 17700.0, 0.41, 0.64, 706, Timestamp('2022-05-17 18:59:06.278211'), Timestamp('2023-01-31 03:06:38.990209')]
[745, 'BDMS', 'SET50 / SETCLMV / SETTHSI / SETWB    ', 30.0, 32.0, 22.1, 39.31, 5.54, 1589.2, 476760.06, 1026.53, 0.42, 58, Timestamp('2022-05-17 18:59:06.281846'), Timestamp('2023-01-31 03:06:38.993354')]
[746, 'BEAUTY', 'sSET    ', 1.4, 1.6, 1.21, 999.99, 5.84, 299.42, 4191.87, 53.59, 1.3, 59, Timestamp('2022-05-17 18:59:06.285094'), Timestamp('2023-01-31 03:06:38.999979')]
[747, 'BEC', 'SET100    ', 10.5, 17.9, 9.15, 27.87, 3.44, 2000.0, 21000.0, 49.26, 1.36, 60, Timestamp('2022-05-17 18:59:06.288349'), Timestamp('2023-01-31 03:06:39.003020')]
[748, 'BEM', 'SET50 / SETTHSI / SETWB    ', 9.8, 10.1, 7.9, 67.2, 3.97, 15285.0, 149793.0, 720.96, 0.69, 61, Timestamp('2022-05-17 18:59:06.291759'), Timestamp('2023-01-31 03:06:39.006260')]
[750, 'BGC', 'sSET / SETCLMV / SETTHSI    ', 10.2, 10.8, 9.55, 13.93, 1.58, 3472.22, 7083.33, 4.94, 0.51, 646, Timestamp('2022-05-17 18:59:06.298534'), Timestamp('2023-01-31 03:06:39.009316')]
[751, 'BGRIM', 'SET50 / SETCLMV / SETTHSI    ', 40.25, 42.75, 29.75, 999.99, 3.33, 5213.8, 104927.73, 416.87, 1.29, 63, Timestamp('2022-05-17 18:59:06.301778'), Timestamp('2023-01-31 03:06:39.012398')]
[752, 'BH', 'SET50 / SETCLMV / SETWB    ', 214.0, 241.0, 140.5, 42.53, 9.42, 794.89, 170105.55, 643.3, 0.5, 65, Timestamp('2022-05-17 18:59:06.307936'), Timestamp('2023-01-31 03:06:39.016462')]
[753, 'BJC', 'SETCLMV / SETTHSI / SETWB    ', 38.75, 39.25, 30.5, 32.6, 1.32, 4007.8, 155302.12, 235.35, 0.84, 68, Timestamp('2022-05-17 18:59:06.313368'), Timestamp('2023-01-31 03:06:39.019918')]
[754, 'BKI', 'SETTHSI    ', 293.0, 295.0, 263.0, 999.99, 0.95, 1064.7, 31195.71, 10.63, 0.28, 71, Timestamp('2022-05-17 18:59:06.317338'), Timestamp('2023-01-31 03:06:39.022965')]
[755, 'BLA', 'SET100 / SETTHSI    ', 29.5, 48.0, 27.0, 15.71, 1.21, 1707.57, 50373.2, 123.99, 0.71, 73, Timestamp('2022-05-17 18:59:06.320808'), Timestamp('2023-01-31 03:06:39.025937')]
[756, 'BLAND', 'SET    ', 1.05, 1.1, 0.94, 17.92, 0.41, 17374.4, 18243.12, 19.09, 0.63, 74, Timestamp('2022-05-17 18:59:06.324388'), Timestamp('2023-01-31 03:06:39.028840')]
[757, 'BPP', 'SETCLMV / SETTHSI    ', 17.5, 17.5, 13.9, 8.48, 1.03, 30477.32, 53335.3, 29.91, 0.83, 78, Timestamp('2022-05-17 18:59:06.328584'), Timestamp('2023-01-31 03:06:39.032023')]
[758, 'BTS', 'SET50 / SETHD / SETTHSI / SETWB    ', 8.55, 10.2, 7.85, 39.14, 1.84, 52670.55, 112583.31, 196.53, 0.85, 86, Timestamp('2022-05-17 18:59:06.331808'), Timestamp('2023-01-31 03:06:39.034971')]
[759, 'BTSGIF', 'SET    ', 3.88, 4.36, 3.72, 999.99, 0.58, 53533.21, 22457.44, 25.78, 0.43, 87, Timestamp('2022-05-17 18:59:06.334996'), Timestamp('2023-01-31 03:06:39.040172')]
[760, 'CBG', 'SET50 / SETCLMV / SETTHSI / SETWB    ', 103.0, 116.0, 80.25, 41.35, 10.02, 1000.0, 103000.0, 396.56, 1.21, 90, Timestamp('2022-05-17 18:59:06.338260'), Timestamp('2023-01-31 03:06:39.042989')]
[761, 'CENTEL', 'SET50 / SETTHSI    ', 52.0, 53.0, 33.5, 1.0, 333.56, 3.8, 1350.0, 70200.0, 215.08, 94, Timestamp('2022-05-17 18:59:06.342285'), Timestamp('2023-01-31 03:06:39.046146')]
[762, 'CHG', 'SET100 / SETHD / SETWB    ', 3.8, 4.16, 3.08, 9.71, 5.76, 1100.0, 41800.0, 144.55, 0.21, 101, Timestamp('2022-05-17 18:59:06.345563'), Timestamp('2023-01-31 03:06:39.049045')]
[763, 'CK', 'SET100 / SETCLMV    ', 22.8, 24.8, 17.9, 34.65, 1.54, 1693.9, 38620.85, 155.65, 0.79, 109, Timestamp('2022-05-17 18:59:06.348808'), Timestamp('2023-01-31 03:06:39.051950')]
[764, 'CKP', 'SET100 / SETCLMV / SETTHSI    ', 4.52, 5.9, 4.48, 14.78, 1.44, 8129.38, 36744.81, 54.6, 1.04, 110, Timestamp('2022-05-17 18:59:06.351974'), Timestamp('2023-01-31 03:06:39.054856')]
[765, 'COM7', 'SET50 / SETTHSI / SETWB    ', 31.0, 43.75, 26.25, 24.36, 11.65, 600.0, 74399.95, 521.64, 1.49, 118, Timestamp('2022-05-17 18:59:06.355236'), Timestamp('2023-01-31 03:06:39.057641')]
[766, 'COTTO', 'SET    ', 2.06, 2.74, 1.92, 21.52, 1.3, 5962.62, 12283.0, 6.86, 1.18, 681, Timestamp('2022-05-17 18:59:06.359034'), Timestamp('2023-01-31 03:06:39.060559')]
[767, 'CPALL', 'SET50 / SETTHSI / SETWB    ', 68.75, 73.75, 52.75, 36.68, 6.26, 8983.1, 617588.22, 2021.78, 0.98, 120, Timestamp('2022-05-17 18:59:06.364176'), Timestamp('2023-01-31 03:06:39.063660')]
[768, 'CPF', 'SET50 / SETCLMV / SETHD / SETTHSI / SETWB    ', 23.5, 27.0, 22.7, 10.42, 0.76, 8611.24, 202364.2, 435.29, 0.77, 121, Timestamp('2022-05-17 18:59:06.367517'), Timestamp('2023-01-31 03:06:39.066771')]
[769, 'CPN', 'SET50 / SETTHSI    ', 72.0, 73.0, 52.75, 32.95, 4.08, 2244.0, 323136.0, 480.18, 1.22, 125, Timestamp('2022-05-17 18:59:06.370900'), Timestamp('2023-01-31 03:06:39.069556')]
[770, 'CPNCG', 'SET    ', 11.6, 12.7, 10.4, 999.99, 1.01, 4394.38, 4949.01, 2.36, 0.36, 126, Timestamp('2022-05-17 18:59:06.374835'), Timestamp('2023-01-31 03:06:39.072587')]
[771, 'CPNREIT', 'SET    ', 19.5, 21.3, 17.9, 999.99, 999.99, 30919.64, 50076.66, 32.82, 0.32, 127, Timestamp('2022-05-17 18:59:06.378390'), Timestamp('2023-01-31 03:06:39.076051')]
[772, 'CPTGF', 'SET    ', 7.35, 8.7, 7.0, 999.99, 0.71, 9751.42, 7107.45, 2.1, 0.19, 659, Timestamp('2022-05-17 18:59:06.381656'), Timestamp('2023-01-31 03:06:39.078854')]
[773, 'CRC', 'SET50 / SETCLMV / SETTHSI / SETWB    ', 43.0, 48.0, 33.5, 41.6, 4.06, 6031.0, 259333.0, 558.13, 1.26, 677, Timestamp('2022-05-17 18:59:06.384841'), Timestamp('2023-01-31 03:06:39.081707')]
[774, 'DCC', 'SET    ', 2.84, 3.18, 2.58, 15.46, 4.43, 912.56, 25916.74, 21.95, 0.57, 140, Timestamp('2022-05-17 18:59:06.388210'), Timestamp('2023-01-31 03:06:39.084621')]
[775, 'DCON', 'SET    ', 0.43, 0.58, 0.36, 17.16, 0.92, 538.63, 2316.13, 2.05, 1.21, 141, Timestamp('2022-05-17 18:59:06.392491'), Timestamp('2023-01-31 03:06:39.087434')]
[776, 'DELTA', 'SET50 / SETTHSI    ', 898.0, 990.0, 287.0, 84.54, 21.76, 1247.38, 1120148.69, 3561.94, 3.23, 144, Timestamp('2022-05-17 18:59:06.395727'), Timestamp('2023-01-31 03:06:39.090198')]
[777, 'DIF', 'SET    ', 13.6, 14.5, 13.0, 999.99, 0.82, 106316.54, 144590.49, 99.06, 0.29, 146, Timestamp('2022-05-17 18:59:06.399000'), Timestamp('2023-01-31 03:06:39.095851')]
[778, 'DOHOME', 'SET100 / SETWB    ', 13.8, 23.3, 12.2, 34.63, 3.44, 2906.74, 40113.02, 166.2, 1.35, 670, Timestamp('2022-05-17 18:59:06.402177'), Timestamp('2023-01-31 03:06:39.098913')]
[779, 'DRT', 'sSET / SETCLMV / SETTHSI    ', 8.35, 8.9, 6.9, 11.89, 3.18, 855.03, 7139.53, 1.6, 0.59, 149, Timestamp('2022-05-17 18:59:06.405774'), Timestamp('2023-01-31 03:06:39.101704')]
[781, 'EA', 'SET50 / SETTHSI    ', 86.5, 101.0, 76.5, 44.12, 8.82, 373.0, 322645.0, 952.98, 1.28, 153, Timestamp('2022-05-17 18:59:06.415305'), Timestamp('2023-01-31 03:06:39.107454')]
[782, 'EASTW', 'sSET / SETTHSI    ', 5.4, 9.5, 4.9, 11.05, 0.8, 1663.73, 8984.12, 10.63, 0.75, 155, Timestamp('2022-05-17 18:59:06.418922'), Timestamp('2023-01-31 03:06:39.110302')]
[783, 'ECL', 'SET    ', 2.04, 3.46, 1.8, 10.6, 1.24, 1108.86, 2262.07, 18.5, 1.63, 157, Timestamp('2022-05-17 18:59:06.422623'), Timestamp('2023-01-31 03:06:39.113129')]
[784, 'EGATIF', 'SET    ', 7.0, 12.0, 6.45, 999.99, 0.76, 18686.08, 14598.5, 4.89, 0.31, 160, Timestamp('2022-05-17 18:59:06.426412'), Timestamp('2023-01-31 03:06:39.115884')]
[785, 'EGCO', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 175.0, 190.0, 159.5, 23.74, 0.71, 5264.65, 92131.38, 165.03, 0.52, 161, Timestamp('2022-05-17 18:59:06.429823'), Timestamp('2023-01-31 03:06:39.118637')]
[786, 'EPG', 'SET100 / SETTHSI    ', 8.6, 10.9, 8.35, 17.83, 2.01, 2800.0, 24080.0, 37.37, 1.26, 166, Timestamp('2022-05-17 18:59:06.433046'), Timestamp('2023-01-31 03:06:39.121599')]
[787, 'ESSO', 'SET100    ', 9.4, 15.0, 7.2, 2.75, 1.13, 17075.18, 32532.07, 733.65, 1.09, 169, Timestamp('2022-05-17 18:59:06.436260'), Timestamp('2023-01-31 03:06:39.124713')]
[788, 'FORTH', 'SET100    ', 41.25, 64.0, 18.8, 47.96, 19.99, 480.0, 39600.0, 207.09, 1.23, 181, Timestamp('2022-05-17 18:59:06.440406'), Timestamp('2023-01-31 03:06:39.127478')]
[789, 'FSMART', 'mai    ', 16.3, 28.0, 10.0, 37.4, 11.44, 390.0, 12714.0, 147.11, 1.44, 183, Timestamp('2022-05-17 18:59:06.443695'), Timestamp('2023-01-31 03:06:39.133057')]
[790, 'GC', 'SET    ', 5.75, 7.45, 5.09, 14.57, 4.64, 220.0, 2530.0, 0.35, 1.08, 188, Timestamp('2022-05-17 18:59:06.446983'), Timestamp('2023-01-31 03:06:39.135869')]
[791, 'GFPT', 'SETTHSI    ', 13.5, 18.7, 11.8, 10.28, 1.06, 1253.82, 16926.58, 63.77, 0.69, 192, Timestamp('2022-05-17 18:59:06.450238'), Timestamp('2023-01-31 03:06:39.138795')]
[792, 'GGC', 'SET    ', 14.9, 16.3, 12.4, 17.12, 1.48, 9724.83, 15252.63, 1.66, 0.73, 193, Timestamp('2022-05-17 18:59:06.453579'), Timestamp('2023-01-31 03:06:39.141551')]
[793, 'GLOBAL', 'SET50 / SETCLMV / SETTHSI / SETWB    ', 20.7, 23.7, 16.8, 26.82, 4.65, 4801.74, 99395.95, 405.68, 1.02, 198, Timestamp('2022-05-17 18:59:06.457855'), Timestamp('2023-01-31 03:06:39.144334')]
[794, 'GPSC', 'SET50 / SETCLMV / SETTHSI    ', 69.5, 80.0, 57.25, 78.51, 1.83, 28197.29, 195971.19, 533.26, 1.25, 202, Timestamp('2022-05-17 18:59:06.461155'), Timestamp('2023-01-31 03:06:39.148877')]
[795, 'GRAMMY', 'SET    ', 10.3, 12.3, 9.9, 450.75, 6.6, 819.95, 8445.48, 0.11, 0.82, 203, Timestamp('2022-05-17 18:59:06.464330'), Timestamp('2023-01-31 03:06:39.151664')]
[796, 'GULF', 'SET50 / SETCLMV / SETTHSI    ', 54.0, 57.25, 45.0, 69.97, 5.93, 11733.15, 633590.1, 820.1, 1.32, 207, Timestamp('2022-05-17 18:59:06.469907'), Timestamp('2023-01-31 03:06:39.154758')]
[797, 'GUNKUL', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 5.0, 7.2, 4.8, 13.34, 3.04, 2220.63, 44412.65, 204.38, 1.52, 208, Timestamp('2022-05-17 18:59:06.473655'), Timestamp('2023-01-31 03:06:39.157599')]
[798, 'GVREIT', 'SET    ', 9.55, 10.3, 8.55, 999.99, 0.86, 8046.15, 7781.34, 4.2, 0.19, 209, Timestamp('2022-05-17 18:59:06.477156'), Timestamp('2023-01-31 03:06:39.160328')]
[799, 'HANA', 'SET100 / SETHD / SETTHSI    ', 58.0, 74.5, 32.75, 48.12, 1.96, 804.88, 46682.97, 816.39, 2.39, 211, Timestamp('2022-05-17 18:59:06.480431'), Timestamp('2023-01-31 03:06:39.163139')]
[800, 'HFT', 'sSET    ', 6.6, 8.55, 5.95, 8.89, 1.19, 658.43, 4345.67, 1.57, 0.86, 213, Timestamp('2022-05-17 18:59:06.483571'), Timestamp('2023-01-31 03:06:39.165949')]
[801, 'HMPRO', 'SET50 / SETTHSI / SETWB    ', 14.6, 16.6, 12.4, 30.29, 8.5, 13151.2, 192007.49, 479.14, 0.97, 214, Timestamp('2022-05-17 18:59:06.487286'), Timestamp('2023-01-31 03:06:39.168855')]
[802, 'WHAIR', 'SET    ', 7.8, 9.06, 7.02, 999.99, 0.84, 8410.94, 7407.01, 8.83, 0.22, 217, Timestamp('2022-05-17 18:59:06.490830'), Timestamp('2023-01-31 03:06:39.623911')]
[803, 'HTC', 'sSET / SETTHSI    ', 30.0, 35.25, 27.0, 14.78, 1.65, 200.96, 6028.81, 5.54, 0.8, 218, Timestamp('2022-05-17 18:59:06.494054'), Timestamp('2023-01-31 03:06:39.171686')]
[804, 'ICHI', 'sSET / SETCLMV / SETTHSI    ', 12.1, 12.4, 7.2, 27.06, 2.63, 1300.0, 15730.0, 60.25, 1.71, 223, Timestamp('2022-05-17 18:59:06.497333'), Timestamp('2023-01-31 03:06:39.174483')]
[805, 'ILM', 'sSET    ', 18.9, 25.0, 15.0, 15.23, 1.74, 2525.0, 9544.5, 14.27, 1.39, 702, Timestamp('2022-05-17 18:59:06.500490'), Timestamp('2023-01-31 03:06:39.180077')]
[806, 'IMH', 'mai    ', 14.3, 23.3, 10.8, 8.52, 3.49, 107.5, 3074.5, 15.53, 0.35, 707, Timestamp('2022-05-17 18:59:06.504446'), Timestamp('2023-01-31 03:06:39.182879')]
[807, 'IMPACT', 'SET    ', 13.9, 17.3, 11.8, 999.99, 1.27, 15714.5, 20606.75, 10.09, 0.51, 228, Timestamp('2022-05-17 18:59:06.508441'), Timestamp('2023-01-31 03:06:39.185940')]
[809, 'INOX', 'SET    ', 1.02, 1.85, 0.95, 9.69, 0.83, 7795.71, 7951.62, 5.26, 1.54, 643, Timestamp('2022-05-17 18:59:06.514806'), Timestamp('2023-01-31 03:06:39.191544')]
[810, 'INTUCH', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 73.75, 78.75, 67.0, 23.04, 6.28, 3206.69, 236493.22, 280.24, 0.59, 231, Timestamp('2022-05-17 18:59:06.520853'), Timestamp('2023-01-31 03:06:39.194289')]
[811, 'IP', 'mai    ', 14.7, 22.9, 13.5, 43.09, 2.89, 186.26, 5476.05, 21.54, 0.54, 713, Timestamp('2022-05-17 18:59:06.524394'), Timestamp('2023-01-31 03:06:39.197058')]
[812, 'IRPC', 'SET100 / SETCLMV / SETTHSI    ', 3.1, 4.02, 2.84, 12.72, 0.73, 20434.42, 63346.7, 277.39, 1.06, 234, Timestamp('2022-05-17 18:59:06.528076'), Timestamp('2023-01-31 03:06:39.203412')]
[813, 'IVL', 'SET50 / SETTHSI    ', 41.25, 52.75, 37.0, 4.84, 1.09, 5614.55, 231600.27, 859.32, 1.11, 238, Timestamp('2022-05-17 18:59:06.531335'), Timestamp('2023-01-31 03:06:39.207453')]
[814, 'JASIF', 'SET    ', 8.15, 11.3, 7.15, 999.99, 0.74, 78812.8, 65200.0, 40.31, 0.59, 241, Timestamp('2022-05-17 18:59:06.534682'), Timestamp('2023-01-31 03:06:39.210430')]
[815, 'JMART', 'SET50    ', 37.0, 64.0, 35.25, 18.53, 3.04, 1457.32, 53920.82, 389.47, 2.15, 244, Timestamp('2022-05-17 18:59:06.538050'), Timestamp('2023-01-31 03:06:39.213355')]
[816, 'JMT', 'SET50    ', 53.5, 88.25, 52.75, 45.05, 3.47, 729.58, 78064.96, 675.65, 1.69, 245, Timestamp('2022-05-17 18:59:06.541597'), Timestamp('2023-01-31 03:06:39.216585')]
[817, 'SJWD', 'SETCLMV / SETTHSI / SETWB    ', 21.7, 22.6, 12.5, 38.98, 5.84, 510.0, 22134.0, 92.82, 1.22, 250, Timestamp('2022-05-17 18:59:06.544807'), Timestamp('2023-01-31 03:06:39.220066')]
[818, 'KBANK', 'SET50 / SETCLMV / SETTHSI    ', 146.0, 175.0, 137.5, 8.14, 0.69, 23693.28, 345921.83, 3135.49, 0.97, 253, Timestamp('2022-05-17 18:59:06.548376'), Timestamp('2023-01-31 03:06:39.223018')]
[819, 'KCE', 'SET100    ', 50.0, 75.5, 39.75, 23.47, 4.59, 590.98, 59098.28, 1201.42, 1.81, 256, Timestamp('2022-05-17 18:59:06.551676'), Timestamp('2023-01-31 03:06:39.225803')]
[820, 'KEX', 'SET100 / SETTHSI / SETWB    ', 18.8, 27.25, 17.3, 999.99, 4.45, 871.29, 32760.45, 48.69, 1.02, 717, Timestamp('2022-05-17 18:59:06.555187'), Timestamp('2023-01-31 03:06:39.228562')]
[821, 'KGI', 'sSET    ', 5.1, 7.0, 4.5, 8.11, 1.37, 1991.76, 10157.99, 10.55, 0.98, 259, Timestamp('2022-05-17 18:59:06.559303'), Timestamp('2023-01-31 03:06:39.231613')]
[822, 'KKP', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 69.75, 76.25, 59.5, 7.21, 1.1, 8467.51, 59060.89, 513.3, 0.84, 262, Timestamp('2022-05-17 18:59:06.563580'), Timestamp('2023-01-31 03:06:39.234567')]
[823, 'KSL', 'sSET / SETCLMV    ', 3.6, 4.16, 3.22, 12.02, 0.76, 2205.12, 15876.84, 12.58, 0.9, 264, Timestamp('2022-05-17 18:59:06.567202'), Timestamp('2023-01-31 03:06:39.237393')]
[824, 'KTB', 'SET50 / SETHD / SETTHSI    ', 17.8, 18.4, 12.9, 8.15, 0.69, 71976.72, 248773.89, 896.43, 0.73, 265, Timestamp('2022-05-17 18:59:06.572878'), Timestamp('2023-01-31 03:06:39.240211')]
[825, 'KTC', 'SET50 / SETTHSI    ', 57.25, 68.0, 52.0, 22.16, 4.97, 2578.33, 147609.63, 407.59, 0.99, 266, Timestamp('2022-05-17 18:59:06.576500'), Timestamp('2023-01-31 03:06:39.243004')]
[826, 'KYE', 'SET    ', 318.0, 377.0, 310.0, 39.15, 0.81, 198.0, 6296.4, 0.19, 0.14, 270, Timestamp('2022-05-17 18:59:06.580020'), Timestamp('2023-01-31 03:06:39.245799')]
[827, 'LALIN', 'sSET    ', 9.35, 11.8, 8.35, 6.45, 1.0, 925.0, 8648.74, 2.46, 0.84, 271, Timestamp('2022-05-17 18:59:06.583301'), Timestamp('2023-01-31 03:06:39.248784')]
[828, 'LANNA', 'sSET    ', 16.2, 24.6, 16.1, 2.98, 1.16, 525.0, 8504.99, 30.91, 0.65, 272, Timestamp('2022-05-17 18:59:06.586619'), Timestamp('2023-01-31 03:06:39.251679')]

In [20]:
sql = 'DELETE FROM stocks'
# rp = conpg.execute(sql)
rp.rowcount

232

In [21]:
for rcd in rcds:
    conpg.execute("""INSERT INTO stocks (id, name, market, price, \
max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, \
created_at, updated_at) \
VALUES( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""", rcd)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near ","
LINE 1: ...beta, ticker_id, created_at, updated_at) VALUES( ?, ?, ?, ?,...
                                                             ^

[SQL: INSERT INTO stocks (id, name, market, price, max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, created_at, updated_at) VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (8, 'ADVANC', 'SET50 / SETHD / SETTHSI    ', 215.0, 242.0, 168.0, 24.05, 8.46, 999.99, 639394.05, 1073120.37, 2.12, 8, Timestamp('2018-04-26 02:42:11.207668'), Timestamp('2022-05-15 17:19:01.186099'))]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [8]:
stocks_inp.dtypes

id                       int64
name                    object
market                  object
price                  float64
max_price              float64
min_price              float64
pe                     float64
pbv                    float64
paid_up                float64
market_cap             float64
daily_volume           float64
beta                   float64
ticker_id                int64
created_at      datetime64[ns]
updated_at      datetime64[ns]
dtype: object

In [27]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_out = pd.read_sql(sql, conpg)
stocks_out.tail()

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
228,950,ONEE,SET100,8.00,13.10,7.50,23.85,2.73,4762.50,19050.00,67.11,1.46,718,2022-07-03 13:29:59.198041,2023-01-31 03:06:39.319324
229,951,BE8,mai,63.25,66.75,29.00,122.44,10.74,120.32,13573.09,149.36,1.33,721,2022-08-05 10:28:19.003762,2023-01-31 03:06:38.996459
230,952,FPT,SET,15.30,15.60,13.20,14.40,0.98,2319.28,35484.94,1.28,0.30,722,2022-08-07 08:04:35.738278,2023-01-31 03:06:39.130290
231,953,III,sSET,15.30,16.97,11.31,23.43,4.00,369.35,11302.08,90.23,0.92,226,2022-11-09 12:58:39.116494,2023-01-31 03:06:39.177288
232,954,SABUY,SET100 / SETWB,12.70,36.00,9.95,19.59,2.28,1605.99,20396.02,303.55,2.24,700,2022-11-09 12:58:39.129554,2023-01-31 03:06:39.415728

### Consensus

In [11]:
sql = 'SELECT * FROM consensus ORDER BY id'
consensus_inp = pd.read_sql(sql, conpg)
consensus_inp.tail()

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
205,979,SGP,12.3,1,0,0,1.45,1.40,8.5,1.6,5.4,12.20,X,447,2021-11-09 23:31:12.011505,2021-12-23 23:51:29.710367
206,980,EGATIF,11.9,0,0,1,0.51,0.00,23.3,1.2,7.0,8.75,X,160,2021-11-30 00:26:48.058462,2022-01-13 19:41:39.987505
207,982,SUPEREIF,11.8,0,1,0,0.72,0.00,16.4,1.2,7.5,11.10,X,675,2021-11-30 00:26:48.409981,2022-01-13 19:41:40.301570
208,983,TIPH,66.5,2,0,0,3.61,4.03,18.4,3.7,2.7,77.50,X,537,2021-12-09 00:55:27.504061,2022-06-09 20:52:26.006710
209,984,KEX,22.3,0,3,2,-0.25,0.33,-90.6,4.4,0.4,22.19,X,717,2022-01-17 23:39:10.425793,2022-06-09 20:52:25.800923

In [12]:
consensus_inp = consensus_inp.drop(['created_at', 'updated_at'], axis=1)

In [13]:
rcds = consensus_inp.values.tolist()
len(rcds)

210

In [14]:
len(consensus_inp.columns)

14

In [ ]:
for rcd in rcds:
    conpg.execute("""INSERT INTO consensus (id, name, price, buy, hold, sell, \
eps_a, eps_b, pe, pbv, yield, target_price, status, ticker_id) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

### Charts table

In [2]:
sql = '''SELECT * FROM charts where name IN ('AWC') AND year = 2024
'''
stocks = pd.read_sql(sql, conpg)
stocks.tail()

,id,name,year,quarter,image_q,image_y,ticker_id,created_at,updated_at
0,1677,AWC,2024,1,AWC-2024-1-Q.png,AWC-2024-1-Y.png,668,2024-05-14 08:39:55.294991,2024-05-14 08:39:55.294991

In [3]:
sqlDel = """
DELETE FROM charts
WHERE name = 'AWC' AND year = 2024 AND quarter = 1
"""
rp = conpg.execute(sqlDel)
rp.rowcount

1

### Portfolios table

In [13]:
sql = "SELECT name, id AS ticker_id FROM tickers"
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
620    SPRIME        674
621  SUPEREIF        675
622      THAI        527
623      TTCL        589
624     TTLPF        676

In [4]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

NameError: name 'portfolios' is not defined

In [10]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

NameError: name 'df_merge' is not defined

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

1

### Check common stocks in profits & portfolios

In [5]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

(17, 20)

In [6]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df.shape

NameError: name 'profits' is not defined

In [12]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df[df['_merge'] == 'left_only']

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,att_cost_amt,last_sell_price,target_sell_price,buy_method,sell_method,ticker_id_y,created_at,updated_at,sell_qty,_merge
0,1515.0,BEM,2019.0,2.0,1.0,7579661.0,3412480.0,4167181.0,122.115910,7579661.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1510.0,CBG,2019.0,2.0,1.0,1739715.0,988908.0,750807.0,75.922836,1739715.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1543.0,COM7,2019.0,2.0,1.0,1044232.0,754060.0,290172.0,38.481288,1044232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1486.0,KTB,2019.0,2.0,1.0,29467687.0,25183660.0,4284027.0,17.011137,29467687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,1538.0,PLANB,2019.0,2.0,1.0,685465.0,530327.0,155138.0,29.253272,685465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,1530.0,ROJNA,2019.0,2.0,1.0,1565310.0,537045.0,1028265.0,191.467195,1565310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,1532.0,TASCO,2019.0,2.0,1.0,1909764.0,1380929.0,528835.0,38.295597,1909764.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,1513.0,WHAUP,2019.0,2.0,1.0,2521590.0,2019649.0,501941.0,24.852883,2521590.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Delete records from profits en mass

In [2]:
year = 2019
quarter = 3

In [9]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

"'ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP'"

In [10]:
for rcd in rcds:
    conpg.execute(sql, rcd)

DELETE FROM profits
WHERE name IN ('ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP')
AND year = 2019 AND quarter = 3

In [11]:
rp = conpg.execute(sql)
rp.rowcount

1

### Delete all record where quarter = 4

In [ ]:
sql = '''
DELETE FROM profits 
WHERE year = %s AND quarter = %s
'''
sql = sql % (year, quarter)
print(sql)

In [ ]:
rp = conpg.execute(sql)
rp.rowcount

In [ ]:
sql = '''
SELECT * FROM profits WHERE year = %s AND quarter = %s
ORDER BY name'''
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conpg)
profits

### Export portfolis from PortMy to PortPg

In [11]:
sql = '''
SELECT *
FROM portfolios
'''
portfolios = pd.read_sql(sql, conpg)
portfolios.dtypes

id                     int64
name                  object
date                  object
buy_qty                int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id              int64
created_at            object
updated_at            object
sell_qty               int64
dtype: object

In [12]:
sql = 'SELECT name, id AS ticker_id FROM tickers'
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
621    SPRIME        674
622  SUPEREIF        675
623      THAI        527
624      TTCL        589
625     TTLPF        676

In [13]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

Index(['id', 'name', 'date', 'buy_qty', 'comp_qty', 'att_qty', 'buy_unit_cost',
       'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt',
       'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method',
       'sell_method', 'ticker_id_x', 'created_at', 'updated_at', 'sell_qty',
       'ticker_id_y'],
      dtype='object')

In [14]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

name                  object
date                  object
buy_qty                int64
sell_qty               int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id_y            int64
created_at            object
updated_at            object
dtype: object

In [15]:
sql = """
DELETE FROM portfolios"""
rp = conpg.execute(sql)
rp.rowcount

16

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

16

In [17]:
for rcd in rcds:
    print(rcd)

['IVL', '2018-04-05', 3000, 3000, 15000, 18000, 28.0, 49.0, 45.5, 84000, 735000, 819000, 59.0, 41.0, 2, 2, 238, '2018-04-05 02:48:06.687907', '2019-11-30 15:29:32.379233']
['LH', '2019-02-10', 0, 36000, 45000, 45000, 10.3, 11.1, 11.1, 0, 499500, 499500, 0.0, 11.2, 2, 0, 275, '2019-02-10 16:23:53.431245', '2019-08-28 13:56:34.903384']
['SAT', '2019-02-17', 10000, 50000, 50000, 60000, 14.9, 19.1, 18.4, 149000, 955000, 1104000, 20.1, 19.2, 2, 2, 427, '2019-02-17 08:36:22.989392', '2019-12-06 14:40:18.853694']
['PTTGC', '2019-06-23', 0, 3000, 9000, 9000, 49.5, 75.5, 75.5, 0, 679500, 679500, 0.0, 67.75, 2, 2, 391, '2019-06-23 16:37:36.297845', '2019-09-14 17:19:13.946449']
['AMATA', '2019-07-07', 3000, 7000, 21000, 24000, 19.5, 23.5, 23.0, 58500, 493500, 552000, 0.0, 27.75, 2, 0, 24, '2019-07-07 17:00:05.670265', '2019-11-29 04:21:00.820834']
['ORI', '2019-07-07', 12000, 60000, 60000, 72000, 6.0, 10.2, 9.5, 72000, 612000, 684000, 0.0, 10.2, 2, 2, 347, '2019-07-07 17:01:13.522345', '2019-11-16 15:45:08.939918']
['SYNEX', '2019-07-07', 0, 33000, 33000, 33000, 9.2, 12.9, 12.9, 0, 425700, 425700, 0.0, 9.0, 2, 2, 504, '2019-07-07 17:07:50.562474', '2019-11-16 16:18:51.271429']
['CPNREIT', '2019-07-07', 6000, 3000, 30000, 36000, 26.5, 22.3, 23.0, 159000, 669000, 828000, 37.0, 33.5, 2, 0, 127, '2019-07-07 17:09:36.316288', '2019-12-13 14:52:19.234472']
['PTTEP', '2019-07-30', 1200, 1200, 3600, 4800, 113.0, 125.0, 122.0, 135600, 450000, 585600, 0.0, 137.5, 2, 2, 390, '2019-07-30 16:02:27.870540', '2019-08-26 06:49:45.562553']
['BANPU', '2019-08-12', 0, 8000, 24000, 24000, 11.8, 18.1, 18.1, 0, 434400, 434400, 0.0, 12.9, 2, 2, 51, '2019-08-12 16:17:52.268307', '2019-11-15 16:46:43.651999']
['ROJNA', '2019-08-18', 15000, 25000, 90000, 105000, 4.6, 6.35, 6.1, 69000, 571500, 640500, 0.0, 7.25, 2, 2, 409, '2019-08-18 14:42:49.849307', '2019-12-09 14:21:31.594031']
['JASIF', '2019-10-05', 0, 2000, 128000, 128000, 10.6, 10.1, 10.1, 0, 1292800, 1292800, 10.6, 11.3, 2, 2, 241, '2019-10-05 14:45:48.514836', '2019-11-26 15:56:09.265727']
['FSMART', '2019-11-09', 6000, 60000, 66000, 72000, 5.5, 10.3, 9.9, 33000, 679800, 712800, 0.0, 10.7, 2, 2, 183, '2019-11-09 15:16:48.185104', '2019-11-16 15:43:32.242263']
['MCS', '2019-11-11', 10000, 25000, 75000, 85000, 9.25, 16.9, 16.0, 92500, 1267500, 1360000, 0.0, 12.9, 2, 2, 301, '2019-11-11 06:55:39.662226', '2019-11-28 09:00:51.564901']
['NOBLE', '2019-11-19', 5000, 5000, 20000, 25000, 14.4, 16.4, 16.0, 72000, 328000, 400000, 0.0, 20.4, 2, 2, 336, '2019-11-19 03:13:49.142639', '2019-12-28 14:14:38.706873']
['SUPER', '2019-11-19', 200000, 0, 0, 200000, 0.5, 0.0, 0.5, 100000, 0, 100000, 0.0, 0.0, 2, 2, 496, '2019-11-19 03:16:46.210950', '2019-11-19 03:16:46.210950']

In [18]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

In [19]:
for rcd in rcds:
    conpg.execute(sql, rcd)

In [15]:
sqlDel = """
DELETE FROM consensus
WHERE name = 'FORTH'"""
rp = conpg.execute(sqlDel)
rp.rowcount

1

### SET50 & SET100

In [30]:
sql = '''
SELECT name, market
FROM tickers
ORDER BY name'''
my_tickers = pd.read_sql(sql, conpg)
my_tickers.dtypes

name      object
market    object
dtype: object

In [31]:
filters = [
   (my_tickers.market.str.contains('SET50')),
   (my_tickers.market.str.contains('SET100')),
   (my_tickers.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [32]:
my_tickers["mrkt"] = np.select(filters, values, default='SET999')
my_tickers.head()

     name                   market    mrkt
0      2S                      SET  SET999
1       A                      SET  SET999
2     AAV           sSET / SETTHSI  SET999
3     ACE                   SET100  SET100
4  ADVANC  SET50 / SETHD / SETTHSI   SET50

In [33]:
set50 = my_tickers[my_tickers['mrkt'] == 'SET50']
set50.sort_values('name',ascending=True)

       name                                     market   mrkt
4    ADVANC                    SET50 / SETHD / SETTHSI  SET50
19      AOT                    SET50 / SETTHSI / SETWB  SET50
32      AWC                            SET50 / SETTHSI  SET50
37    BANPU                  SET50 / SETCLMV / SETTHSI  SET50
39      BBL                    SET50 / SETHD / SETTHSI  SET50
44     BDMS          SET50 / SETCLMV / SETTHSI / SETWB  SET50
47      BEM                    SET50 / SETTHSI / SETWB  SET50
51    BGRIM                  SET50 / SETCLMV / SETTHSI  SET50
52       BH                    SET50 / SETCLMV / SETWB  SET50
55      BLA                            SET50 / SETTHSI  SET50
61      BTS                    SET50 / SETTHSI / SETWB  SET50
63      CBG                    SET50 / SETCLMV / SETWB  SET50
75    CPALL                    SET50 / SETTHSI / SETWB  SET50
76      CPF  SET50 / SETCLMV / SETHD / SETTHSI / SETWB  SET50
78      CPN                            SET50 / SETTHSI  SET50
82      CRC          SET50 / SETCLMV / SETTHSI / SETWB  SET50
96     DTAC                                      SET50  SET50
98       EA                            SET50 / SETTHSI  SET50
102    EGCO          SET50 / SETCLMV / SETHD / SETTHSI  SET50
122  GLOBAL          SET50 / SETCLMV / SETTHSI / SETWB  SET50
124    GPSC                            SET50 / SETTHSI  SET50
126    GULF                  SET50 / SETCLMV / SETTHSI  SET50
131   HMPRO                    SET50 / SETTHSI / SETWB  SET50
148  INTUCH          SET50 / SETCLMV / SETHD / SETTHSI  SET50
151    IRPC                  SET50 / SETCLMV / SETTHSI  SET50
153     IVL                            SET50 / SETTHSI  SET50
158   JMART                                      SET50  SET50
159     JMT                                      SET50  SET50
164   KBANK                  SET50 / SETCLMV / SETTHSI  SET50
166     KCE                                      SET50  SET50
171     KTB                    SET50 / SETHD / SETTHSI  SET50
172     KTC                            SET50 / SETTHSI  SET50
178      LH                              SET50 / SETHD  SET50
200    MINT          SET50 / SETCLMV / SETTHSI / SETWB  SET50
205     MTC                            SET50 / SETTHSI  SET50
215      OR                            SET50 / SETCLMV  SET50
217     OSP  SET50 / SETCLMV / SETHD / SETTHSI / SETWB  SET50
240     PTT          SET50 / SETCLMV / SETHD / SETTHSI  SET50
241   PTTEP          SET50 / SETCLMV / SETHD / SETTHSI  SET50
242   PTTGC                  SET50 / SETCLMV / SETTHSI  SET50
268   SAWAD                                      SET50  SET50
270     SCB                  SET50 / SETCLMV / SETTHSI  SET50
271     SCC          SET50 / SETCLMV / SETHD / SETTHSI  SET50
273    SCGP                  SET50 / SETCLMV / SETTHSI  SET50
339  TIDLOR                                      SET50  SET50
343   TISCO                    SET50 / SETHD / SETTHSI  SET50
355     TOP                  SET50 / SETCLMV / SETTHSI  SET50
363    TRUE                            SET50 / SETTHSI  SET50
368     TTB                    SET50 / SETHD / SETTHSI  SET50
372      TU  SET50 / SETCLMV / SETHD / SETTHSI / SETWB  SET50

In [34]:
set100 = my_tickers[my_tickers['mrkt'] == 'SET100']
set100.sort_values('name',ascending=True)

       name                              market    mrkt
3       ACE                              SET100  SET100
5    AEONTS                              SET100  SET100
16    AMATA          SET100 / SETCLMV / SETTHSI  SET100
20       AP                      SET100 / SETHD  SET100
36      BAM                              SET100  SET100
40      BCH                      SET100 / SETWB  SET100
41      BCP          SET100 / SETCLMV / SETTHSI  SET100
42     BCPG  SET100 / SETCLMV / SETHD / SETTHSI  SET100
46      BEC                              SET100  SET100
66   CENTEL            SET100 / SETTHSI / SETWB  SET100
69      CHG                      SET100 / SETWB  SET100
71       CK          SET100 / SETCLMV / SETTHSI  SET100
72      CKP          SET100 / SETCLMV / SETTHSI  SET100
73     COM7            SET100 / SETTHSI / SETWB  SET100
94   DOHOME                      SET100 / SETWB  SET100
106     EPG                    SET100 / SETTHSI  SET100
108    ESSO                              SET100  SET100
112   FORTH                              SET100  SET100
127  GUNKUL  SET100 / SETCLMV / SETHD / SETTHSI  SET100
129    HANA                    SET100 / SETTHSI  SET100
167     KEX            SET100 / SETTHSI / SETWB  SET100
169     KKP  SET100 / SETCLMV / SETHD / SETTHSI  SET100
190   MAJOR          SET100 / SETCLMV / SETTHSI  SET100
197    MEGA            SET100 / SETCLMV / SETWB  SET100
216     ORI            SET100 / SETHD / SETTHSI  SET100
225   PLANB                    SET100 / SETTHSI  SET100
237     PSL                              SET100  SET100
238     PTG            SET100 / SETHD / SETTHSI  SET100
245      QH                      SET100 / SETHD  SET100
248   RATCH  SET100 / SETCLMV / SETHD / SETTHSI  SET100
249     RBF            SET100 / SETCLMV / SETWB  SET100
250     RCL                    SET100 / SETCLMV  SET100
282  SINGER                              SET100  SET100
297   SPALI                      SET100 / SETHD  SET100
302    SPRC                    SET100 / SETCLMV  SET100
309     STA            SET100 / SETTHSI / SETWB  SET100
311   STARK                    SET100 / SETCLMV  SET100
312    STEC                              SET100  SET100
313    STGT                    SET100 / SETTHSI  SET100
316   SUPER                    SET100 / SETCLMV  SET100
323   SYNEX                    SET100 / SETTHSI  SET100
327   TASCO  SET100 / SETCLMV / SETHD / SETTHSI  SET100
328    TCAP                      SET100 / SETHD  SET100
333   THANI            SET100 / SETHD / SETTHSI  SET100
342    TIPH                              SET100  SET100
359     TQM                    SET100 / SETTHSI  SET100
367     TTA                      SET100 / SETWB  SET100
384     VGI                    SET100 / SETTHSI  SET100
389     WHA            SET100 / SETHD / SETTHSI  SET100