In [5]:
import pandas as pd
import os
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = os.path.join(os.path.expanduser("~"), "iCloudDrive")
one_path = os.path.join(os.path.expanduser("~"), "OneDrive","Documents","Data")
osd_path = os.path.join(os.path.expanduser("~"),"OneDrive","Documents","obsidian-git-sync","Data")
dts_path = os.path.join(os.path.expanduser("~"),"Downloads","Datasets")


year = "2024"
quarter = "3"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2025-01-01'

In [7]:
today = date(2024, 11, 27)
select_date = today.strftime("%Y-%m-%d")
select_date

'2024-11-27'

### Tables in the process

In [10]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:,.2f}%','acc_pct':'{:,.2f}%'
              }

In [12]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [18]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
ORDER BY name
"""
sql = sql % (year, quarter, select_date)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.tail().style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2024 AND quarter = 3
AND publish_date >= '2024-11-27'
ORDER BY name

In [20]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.tail().style.format(format_dict)

In [7]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [8]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [9]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [10]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_3 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [11]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [12]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [13]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ACE', 'AIE', 'AIMIRT', 'AJ', 'AMATA', 'ANAN', 'ASP', 'BAM', 'BEC', 'BJC', 'BKIH', 'BLA', 'CENTEL', 'CHG', 'CK', 'CPF', 'CPN', 'CPNREIT', 'CPTGF', 'EA', 'ECL', 'FORTH', 'GC', 'GGC', 'GULF', 'HTC', 'IP', 'KBANK', 'KGI', 'KTB', 'LALIN', 'LH', 'LPH', 'NOBLE', 'ONEE', 'ORI', 'PCSGH', 'PRM', 'PSH', 'RATCH', 'RBF', 'ROJNA', 'RS', 'SABUY', 'SAPPE', 'SAT', 'SCB', 'SENA', 'SKN', 'SKR', 'SPCG', 'SPRC', 'SSP', 'SUPER', 'TIPCO', 'TKS', 'TOA', 'TQM', 'TSE', 'TTW', 'VIBHA', 'WICE'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [14]:
#name = "TSTH"
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
LIMIT 12
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('ACE', 'AIE', 'AIMIRT', 'AJ', 'AMATA', 'ANAN', 'ASP', 'BAM', 'BEC', 'BJC', 'BKIH', 'BLA', 'CENTEL', 'CHG', 'CK', 'CPF', 'CPN', 'CPNREIT', 'CPTGF', 'EA', 'ECL', 'FORTH', 'GC', 'GGC', 'GULF', 'HTC', 'IP', 'KBANK', 'KGI', 'KTB', 'LALIN', 'LH', 'LPH', 'NOBLE', 'ONEE', 'ORI', 'PCSGH', 'PRM', 'PSH', 'RATCH', 'RBF', 'ROJNA', 'RS', 'SABUY', 'SAPPE', 'SAT', 'SCB', 'SENA', 'SKN', 'SKR', 'SPCG', 'SPRC', 'SSP', 'SUPER', 'TIPCO', 'TKS', 'TOA', 'TQM', 'TSE', 'TTW', 'VIBHA', 'WICE')
ORDER BY E.name, year DESC, quarter DESC
LIMIT 12

### Delete from profits of older profit stocks

In [15]:
#in_p = "'KTC'"
in_p

"'ACE', 'AIE', 'AIMIRT', 'AJ', 'AMATA', 'ANAN', 'ASP', 'BAM', 'BEC', 'BJC', 'BKIH', 'BLA', 'CENTEL', 'CHG', 'CK', 'CPF', 'CPN', 'CPNREIT', 'CPTGF', 'EA', 'ECL', 'FORTH', 'GC', 'GGC', 'GULF', 'HTC', 'IP', 'KBANK', 'KGI', 'KTB', 'LALIN', 'LH', 'LPH', 'NOBLE', 'ONEE', 'ORI', 'PCSGH', 'PRM', 'PSH', 'RATCH', 'RBF', 'ROJNA', 'RS', 'SABUY', 'SAPPE', 'SAT', 'SCB', 'SENA', 'SKN', 'SKR', 'SPCG', 'SPRC', 'SSP', 'SUPER', 'TIPCO', 'TKS', 'TOA', 'TQM', 'TSE', 'TTW', 'VIBHA', 'WICE'"

In [16]:
sql = """
SELECT * FROM profits
WHERE name IN (%s)
AND quarter < %s
"""
sql = sql % (in_p, quarter)
df_temp = pd.read_sql(sql, conlt)
df_temp

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2725,CPF,2024,2,1,6386787,3401879,2984908,87.74,6386787,...,6924590,-792252,7716842,974.038816,1152032,5772558,501.076185,117,535.761250,363.312186
1,2730,CPN,2024,2,1,16847868,12601908,4245960,33.69,16847868,...,4555797,3677832,877965,23.871808,4154167,401630,9.668124,121,18.182483,12.989627
2,2713,GULF,2024,2,1,16362607,13227185,3135422,23.70,16362607,...,4741260,2884932,1856328,64.345641,3498526,1242734,35.521645,653,34.091822,22.201123
3,2719,NOBLE,2024,2,1,929044,660067,268977,40.75,929044,...,124344,111860,12484,11.160379,78678,45666,58.041638,328,27.828004,26.192916
4,2739,PCSGH,2024,1,1,743898,610402,133496,21.87,743898,...,167771,157205,10566,6.721160,106623,61148,57.349728,346,21.845222,25.203709
5,2726,ROJNA,2024,2,1,1652478,954903,697575,73.05,1652478,...,628511,-146912,775423,527.814610,91963,536548,583.438992,404,318.178400,275.192037
6,2740,SAPPE,2024,1,1,1151756,774553,377203,48.70,1151756,...,352347,274790,77557,28.224098,168018,184329,109.707888,420,48.462997,44.202529
7,2733,SAPPE,2024,2,1,1250242,919543,330699,35.96,1250242,...,410758,312272,98486,31.538531,352347,58411,16.577692,420,23.156556,12.790864

In [17]:
sqlDel = """
DELETE FROM profits
WHERE name IN (%s)
AND quarter < %s
"""
sqlDel = sqlDel % (in_p, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name IN ('ACE', 'AIE', 'AIMIRT', 'AJ', 'AMATA', 'ANAN', 'ASP', 'BAM', 'BEC', 'BJC', 'BKIH', 'BLA', 'CENTEL', 'CHG', 'CK', 'CPF', 'CPN', 'CPNREIT', 'CPTGF', 'EA', 'ECL', 'FORTH', 'GC', 'GGC', 'GULF', 'HTC', 'IP', 'KBANK', 'KGI', 'KTB', 'LALIN', 'LH', 'LPH', 'NOBLE', 'ONEE', 'ORI', 'PCSGH', 'PRM', 'PSH', 'RATCH', 'RBF', 'ROJNA', 'RS', 'SABUY', 'SAPPE', 'SAT', 'SCB', 'SENA', 'SKN', 'SKR', 'SPCG', 'SPRC', 'SSP', 'SUPER', 'TIPCO', 'TKS', 'TOA', 'TQM', 'TSE', 'TTW', 'VIBHA', 'WICE')
AND quarter < 3

In [18]:
rp = conlt.execute(sqlDel)
rp.rowcount

8

In [19]:
rp = conmy.execute(sqlDel)
rp.rowcount

4

In [20]:
rp = conpg.execute(sqlDel)
rp.rowcount

7

In [21]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'ADVANC', 'ADVANC', 'AIT', 'AYUD', 'BBL', 'BCH', 'BDMS',
       'BDMS', 'BEM', 'BH', 'CBG', 'CIMBT', 'CKP', 'CPALL', 'CPAXT', 'CRC',
       'EGATIF', 'FPT', 'GPSC', 'GVREIT', 'ILM', 'IMPACT', 'INTUCH', 'INTUCH',
       'INTUCH', 'KSL', 'KSL', 'KTB', 'LHFG', 'M', 'MTC', 'MTI', 'OISHI',
       'PLANB', 'PLANB', 'PTT', 'RCL', 'SAUCE', 'SCB', 'SCCC', 'SJWD', 'SPC',
       'SPI', 'STARK', 'SYNEX', 'TFFIF', 'TFG', 'TIPH', 'TTB', 'TTB', 'VNT'],
      dtype='object', name='name')

In [22]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['ADVANC', 'ADVANC', 'ADVANC', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CKP',
       'CRC', 'INTUCH', 'MTC', 'PLANB', 'RCL', 'SYNEX', 'TFG'],
      dtype='object', name='name')

In [23]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'AIT', 'BBL', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CKP',
       'CPALL', 'CPAXT', 'CRC', 'EGATIF', 'FPT', 'GPSC', 'GVREIT', 'ILM',
       'IMPACT', 'INTUCH', 'KSL', 'KTB', 'LHFG', 'M', 'MTC', 'PLANB', 'PTT',
       'RCL', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SYNEX', 'TFFIF', 'TFG', 'TIPH',
       'TTB'],
      dtype='object', name='name')

### Portfolio that publish today

In [24]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('ACE', 'AIE', 'AIMIRT', 'AJ', 'AMATA', 'ANAN', 'ASP', 'BAM', 'BEC', 'BJC', 'BKIH', 'BLA', 'CENTEL', 'CHG', 'CK', 'CPF', 'CPN', 'CPNREIT', 'CPTGF', 'EA', 'ECL', 'FORTH', 'GC', 'GGC', 'GULF', 'HTC', 'IP', 'KBANK', 'KGI', 'KTB', 'LALIN', 'LH', 'LPH', 'NOBLE', 'ONEE', 'ORI', 'PCSGH', 'PRM', 'PSH', 'RATCH', 'RBF', 'ROJNA', 'RS', 'SABUY', 'SAPPE', 'SAT', 'SCB', 'SENA', 'SKN', 'SKR', 'SPCG', 'SPRC', 'SSP', 'SUPER', 'TIPCO', 'TKS', 'TOA', 'TQM', 'TSE', 'TTW', 'VIBHA', 'WICE')
ORDER BY name

In [25]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

      name   id
0      ACE  667
1      AIE  691
2   AIMIRT   13
3       AJ   15
4    AMATA   24
..     ...  ...
57     TQM  657
58     TSE  582
59     TTW  590
60   VIBHA  619
61    WICE  632

[62 rows x 2 columns]

In [26]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(31, 1)

In [27]:
df_merge = pd.merge(tickers, buys, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,13,AIMIRT,AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD R...,Property & Construction,Property Fund & REITs,SET,www.aimreit.com,2018-04-22 04:29:36.146073,2018-04-22 04:29:36.146073
1,44,ASP,ASIA PLUS GROUP HOLDINGS PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.asiaplusgroup.co.th,2018-04-22 04:29:36.379149,2018-04-22 04:29:36.379149
2,127,CPNREIT,CPN RETAIL GROWTH LEASEHOLD REIT,Property & Construction,Property Fund & REITs,SET,www.cpnreit.com,2018-04-22 04:29:36.900508,2018-04-22 04:29:36.900508
3,347,ORI,ORIGIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.origin.co.th,2018-04-22 04:29:38.228072,2022-01-15 03:54:48.440923
4,443,SENA,SENADEVELOPMENT PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.sena.co.th,2018-04-22 04:29:38.825191,2018-04-22 04:29:38.825191
5,562,TOA,TOA PAINT (THAILAND) PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SETTHSI,www.toagroup.com,2018-04-22 04:29:39.494571,2021-07-07 03:33:39.241053

In [28]:
file_name = 'pub_stock.xlsx'
xsl_file = xsl_path + file_name
df_merge[['id','name','sector','market']].to_excel(xsl_file, index=False)

### Portfolio that already published

In [28]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(31, 10)

In [29]:
	names = buys["name"].values.tolist()
	in_p = ", ".join(map(lambda name: "'%s'" % name, names))
	in_p

"'STA', 'SINGER', 'PTG', 'KCE', 'MCS', 'DIF', 'TMT', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'ASP', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'ASK', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [30]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '2024-10-01'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, conlt)
df_tmp.style.format(format_dict)

In [31]:
df_tmp.shape

(29, 14)

### Not yet published

In [32]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '2024-10-01'
"""
epss = pd.read_sql(sql, conlt)
epss.shape

(221, 1)

In [33]:
	names = epss["name"].values.tolist()
	in_p = ", ".join(map(lambda name: "'%s'" % name, names))
	in_p

"'AEONTS', 'LPF', 'BBL', 'LHFG', 'TTB', 'KTC', 'BAY', 'KKP', 'TISCO', 'TRUE', 'DELTA', 'STANLY', 'PTTEP', 'MST', 'HMPRO', 'GLOBAL', 'SCGP', '3BBIF', 'ADVANC', 'SCC', 'MCS', 'NER', 'WHAIR', 'RCL', 'JMART', 'ASK', 'JMT', 'TMT', 'SINGER', 'STA', 'KEX', 'TCAP', 'STGT', 'CBG', 'SIS', 'SPRIME', 'WORK', 'WHAUP', 'WHA', 'KYE', 'INOX', 'TOP', 'THANI', 'INTUCH', 'BE8', 'ASW', 'S11', 'CPAXT', 'TPIPP', 'SMPC', 'SC', 'GPSC', 'AIT', 'OR', 'TIPH', 'PAP', 'BCP', 'LPN', 'BH', 'SGP', 'QH', 'BCPG', 'PDG', 'HFT', 'TU', 'III', 'DOHOME', 'SCCC', 'IRPC', 'DCC', 'PSL', 'PTTGC', 'AWC', 'IVL', 'MBAX', 'TPIPL', 'ILM', 'VGI', 'EGATIF', 'LIT', 'TTLPF', 'PTL', 'CKP', 'MAJOR', 'LANNA', 'RJH', 'TYCN', 'ICHI', 'BGC', 'BA', 'ASIAN', 'DRT', 'PTG', 'AH', 'KCE', 'SYNEX', 'DCON', 'BANPU', 'PLANB', 'TIDLOR', 'SNC', 'TK', 'BPP', 'MTC', 'COM7', 'EASTW', 'SPALI', 'BDMS', 'EPG', 'TASCO', 'MEGA', 'M', 'SUPEREIF', 'MINT', 'GFPT', 'AP', 'BEAUTY', 'BGRIM', 'VNG', 'WHART', 'DIF', 'TVO', 'BCH', 'GRAMMY', 'SAWAD', 'EGCO', 'TKN', 'PREB', 'TTA', 'FSMART', 'THG', 'SPC', 'BEM', 'OSP', 'TFG', 'BTSGIF', 'CRC', 'PTT', 'CPALL', 'CPNCG', 'HANA', 'GUNKUL', 'POPF', 'SVI', 'SIRI', 'UTP', 'IMH', 'SJWD', 'AIMIRT', 'ASP', 'SENA', 'TOA', 'ORI', 'CPNREIT', 'KBANK', 'KTB', 'VIBHA', 'RS', 'SABUY', 'CHG', 'FORTH', 'NOBLE', 'TQM', 'BTS', 'AJ', 'CK', 'PSH', 'EA', 'AMATA', 'CENTEL', 'SSP', 'TKS', 'PRM', 'ANAN', 'ROJNA', 'RBF', 'PCSGH', 'SPCG', 'LPH', 'LH', 'IMPACT', 'CPF', 'RATCH', 'HTC', 'BAM', 'AIE', 'SAPPE', 'ACE', 'BJC', 'BKIH', 'BLA', 'CPTGF', 'ECL', 'GC', 'KGI', 'LALIN', 'ONEE', 'SKN', 'SKR', 'SPRC', 'SUPER', 'TIPCO', 'TSE', 'TTW', 'WICE', 'FPT', 'BCT', 'BLAND', 'EPG', 'LHK', 'TMW', 'TR', 'TSTH', 'BEC', 'CPN', 'GGC', 'GULF', 'IP', 'SAT', 'SCB', 'KGI'"

In [34]:
sql = """
SELECT *
FROM buy
WHERE name NOT IN (%s)
ORDER BY name
"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, const)
df_tmp

,name,date,volbuy,price,volsell,volbal,active,dividend,period,grade
0,GVREIT,2022-08-24,60000.0,7.9,0.0,0.0,1,0.7833,2,C1
1,TFFIF,2023-07-06,20000.0,7.5,0.0,0.0,1,0.4297,2,A4

### Comparison check between EPS and Buy

In [35]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy.shape

(31, 1)

In [36]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
AND quarter = %s
'''
sql = sql % (select_date, quarter)
print(sql)
tdy_df = pd.read_sql(sql, conlt)
tdy_df.shape

SELECT *
FROM epss
WHERE publish_date >= '2024-11-14'
AND quarter = 3

(62, 14)

In [37]:
tdy_buy_df = tdy_df.merge(buy, on='name', how='inner')
tdy_buy_df.sort_values(by='name')

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,23911,AIMIRT,2024,3,149501,121512,606443,410220,0.0000,0.0000,0.0000,0.0000,669,2024-11-14
1,23912,ASP,2024,3,68478,102983,293432,341480,0.0300,0.0500,0.1400,0.1600,40,2024-11-14
5,23916,CPNREIT,2024,3,801278,1271308,1338631,2662722,0.0000,0.0000,0.0000,0.0000,647,2024-11-14
4,23915,ORI,2024,3,402143,724659,1317935,2395583,0.1638,0.2952,0.5370,0.9761,339,2024-11-14
2,23913,SENA,2024,3,116254,61827,301801,275131,0.0806,0.0429,0.2093,0.1908,437,2024-11-14
3,23914,TOA,2024,3,187898,651159,1468921,2024499,0.0900,0.3200,0.7300,1.0000,645,2024-11-14

In [38]:
tdy_buy_df.shape

(6, 14)

In [39]:
sql = """
SELECT * 
FROM tickers
ORDER BY name"""
print(sql)
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].shape

SELECT *
FROM tickers
ORDER BY name

(396, 3)

In [40]:
tmp_df = tdy_buy_df.merge(tickers, on='name', how='inner')
tmp_df.shape

(6, 22)

In [41]:
tmp_df[['name','id_y','market']].sort_values(by='name')

      name  id_y                    market
0   AIMIRT    13                       SET
1      ASP    44                      sSET
5  CPNREIT   127                       SET
4      ORI   347  SET100 / SETHD / SETTHSI
2     SENA   443                      sSET
3      TOA   562                   SETTHSI