#### Restart and Run All

In [2]:
import numpy as np
import os
import pandas as pd
import datetime as dt
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

format_dict = {
     'price':'{:.2f}', 'change':'{:.2f}', '%change':'{:.2f}%', 'open':'{:.2f}',
     'high':'{:.2f}', 'low':'{:.2f}','volume':'{:,}','value(m)':'{:,}'
}

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-04 21:56:46

In [3]:
#df_dailies = pd.read_csv('../data/dailies.csv')
df_dailies = pd.read_csv('../data/Price-Today.csv')
#df_dailies.rename(columns={'daily_volume':'value(m)'},inplace=True)
df_dailies.columns

Index(['name', 'date', 'price', 'change', '%change', 'open', 'high', 'low',
       'volume', 'value(m)'],
      dtype='object')

In [4]:
#df_dailies.loc[(df_dailies['value(m)'] == '-') ,df_dailies['value(m)']] = 0

df_dailies['value(m)'] = df_dailies['value(m)'].astype(float)
df_dailies['value(m)'] = round(df_dailies['value(m)'] / 1000,0)
df_dailies['value(m)'] = df_dailies['value(m)'].astype(int)
#df_dailies.dtypes

In [5]:
df_dailies.query("name == 'DELTA'").style.format(format_dict)

In [6]:
df_dailies.sort_values(['%change'],ascending=[False]).head(10).style.format(format_dict)

In [7]:
df_dailies.sort_values(['%change'],ascending=[True]).head(10).style.format(format_dict)

In [8]:
df_dailies.sort_values(['value(m)'],ascending=[False]).head(10).style.format(format_dict)

In [9]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-04 21:56:47