In [1]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
from time import sleep, strftime

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

current_dir = '../Daily'
output_dir = os.path.join(os.path.dirname(current_dir), 'Data')
file_out = os.path.join(output_dir, "ports-hilo-df.csv")
print(file_out)

..\Data\ports-hilo-df.csv

In [2]:
sql = """
SELECT name, date, volbuy, price, dividend 
FROM buy 
WHERE active = 1
"""
buys = pd.read_sql(sql, const)
buys.volbuy = buys.volbuy.astype("int64")
sorted_buys = buys.sort_values('name')
sorted_buys

       name        date  volbuy   price  dividend
18       AH  2023-06-08    1200   37.00    1.6600
28   AIMIRT  2023-08-17   10000   11.00    0.8920
19      ASK  2023-02-16    4500   31.00    1.4400
13      ASP  2022-03-07   30000    3.80    0.2100
24      AWC  2023-06-15    9000    4.96       NaN
9       BCH  2021-09-07    4000   21.70    0.5000
29  CPNREIT  2022-08-16   60000   17.55    0.8547
5       DIF  2020-08-01   30000   14.70    0.9619
20   GVREIT  2022-08-24   60000    7.90    0.7821
14      IVL  2022-08-29    7200   40.00    1.1500
12    JASIF  2018-05-17  130000   10.00    0.6900
22    JMART  2023-01-20    6800   33.00    0.6600
7       JMT  2023-01-26    4200   55.50    0.9300
3       KCE  2021-10-07   10000   77.25    1.2000
4       MCS  2016-09-20   78000   15.10    0.2000
21      NER  2021-09-01   27000    7.45    0.3600
17      ORI  2022-04-07   45000   11.00    0.7300
2       PTG  2023-07-12    3600   11.40       NaN
15    PTTGC  2021-03-17    6000   64.75    0.2500
27      RCL  2021-11-08   27000   38.75    1.2500
26      SCC  2021-09-20     600  405.00    4.5000
10     SENA  2022-03-29  105000    4.48    0.0784
1    SINGER  2023-01-19    6000   24.80    0.2600
0       STA  2021-06-15    5000   40.00    1.0000
25    SYNEX  2022-01-07   15000   28.70    0.6200
11    TFFIF  2023-07-06   20000    7.50    0.4130
6       TMT  2021-08-16   36000   10.20    0.3000
23      TOA  2023-09-06    1000   26.00    0.5800
16    WHAIR  2021-10-11   50000    8.70    0.5325
8     WHART  2022-01-05   20000   12.30    0.7700

In [3]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  12:49 PM

In [4]:
url = "https://www.set.or.th/en/market/product/stock/quote/"

output_columns = ['name', 'today_low', 'today_high', 'year_low', 'year_high']
data = []
for index, row in sorted_buys.iterrows():
    name = str(row['name']).upper()
    response = request.urlopen(url + name + '/price')
    html_page = BeautifulSoup(response, 'html.parser')
        
    values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
    today_low = values_low[0].text
    if (today_low == '-'):
        today_low = '0.00'
        
    values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
    today_high = values_high[0].text
    if (today_high == '-'):
        today_high = '0.00'         
        
    year_low = values_low[1].text        
    year_high = values_high[1].text        
    data.append([name,today_low,today_high,year_low,year_high]) 
    sleep(2)   # to avoid overloading the server and getting blocked
    print([name,today_low,today_high,year_low,year_high]) 
        
output_df = pd.DataFrame(data, columns=output_columns)
output_df

['AH', '29.75', '30.50', '25.50', '39.25']
['AIMIRT', '10.50', '10.80', '10.00', '12.50']
['ASK', '19.90', '20.10', '19.20', '34.75']
['ASP', '2.82', '2.86', '2.68', '3.24']
['AWC', '3.88', '3.96', '3.40', '6.20']
['BCH', '22.00', '22.40', '16.60', '23.00']
['CPNREIT', '11.10', '11.40', '9.40', '21.30']
['DIF', '8.15', '8.30', '7.25', '13.70']
['GVREIT', '6.15', '6.25', '5.45', '9.90']
['IVL', '23.80', '24.20', '23.00', '42.50']
['JASIF', '6.25', '6.35', '5.70', '8.30']
['JMART', '16.00', '16.50', '13.10', '41.25']
['JMT', '25.00', '25.75', '23.30', '67.75']
['KCE', '48.25', '49.75', '35.50', '58.50']
['MCS', '6.40', '6.50', '5.90', '10.30']
['NER', '5.10', '5.20', '4.40', '6.70']
['ORI', '8.45', '8.55', '8.05', '12.90']
['PTG', '8.85', '8.95', '7.70', '14.90']
['PTTGC', '34.25', '35.25', '31.75', '52.50']
['RCL', '25.75', '26.50', '18.50', '33.00']
['SCC', '273.00', '275.00', '272.00', '358.00']
['SENA', '2.38', '2.42', '2.26', '4.06']
['SINGER', '10.90', '11.20', '7.20', '29.25']
['STA', '17.00', '17.20', '12.10', '26.00']
['SYNEX', '11.10', '11.50', '8.90', '17.60']
['TFFIF', '7.05', '7.10', '6.00', '8.30']
['TMT', '6.10', '6.10', '6.00', '8.45']
['TOA', '22.40', '22.80', '19.20', '36.50']
['WHAIR', '5.45', '5.60', '5.30', '8.10']
['WHART', '9.90', '10.10', '8.95', '12.20']

       name today_low today_high year_low year_high
0        AH     29.75      30.50    25.50     39.25
1    AIMIRT     10.50      10.80    10.00     12.50
2       ASK     19.90      20.10    19.20     34.75
3       ASP      2.82       2.86     2.68      3.24
4       AWC      3.88       3.96     3.40      6.20
5       BCH     22.00      22.40    16.60     23.00
6   CPNREIT     11.10      11.40     9.40     21.30
7       DIF      8.15       8.30     7.25     13.70
8    GVREIT      6.15       6.25     5.45      9.90
9       IVL     23.80      24.20    23.00     42.50
10    JASIF      6.25       6.35     5.70      8.30
11    JMART     16.00      16.50    13.10     41.25
12      JMT     25.00      25.75    23.30     67.75
13      KCE     48.25      49.75    35.50     58.50
14      MCS      6.40       6.50     5.90     10.30
15      NER      5.10       5.20     4.40      6.70
16      ORI      8.45       8.55     8.05     12.90
17      PTG      8.85       8.95     7.70     14.90
18    PTTGC     34.25      35.25    31.75     52.50
19      RCL     25.75      26.50    18.50     33.00
20      SCC    273.00     275.00   272.00    358.00
21     SENA      2.38       2.42     2.26      4.06
22   SINGER     10.90      11.20     7.20     29.25
23      STA     17.00      17.20    12.10     26.00
24    SYNEX     11.10      11.50     8.90     17.60
25    TFFIF      7.05       7.10     6.00      8.30
26      TMT      6.10       6.10     6.00      8.45
27      TOA     22.40      22.80    19.20     36.50
28    WHAIR      5.45       5.60     5.30      8.10
29    WHART      9.90      10.10     8.95     12.20

In [5]:
output_df['today_low'] = output_df['today_low'].astype('float')
output_df['today_high'] = output_df['today_high'].astype('float')
output_df['year_low'] = output_df['year_low'].astype('float')
output_df['year_high'] = output_df['year_high'].astype('float')

In [6]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  12:50 PM

In [7]:
output_df.query('today_low <= year_low')

Empty DataFrame
Columns: [name, today_low, today_high, year_low, year_high]
Index: []

In [8]:
output_df.query('today_low <= year_low').shape[0]

0

In [9]:
output_df.query('today_high >= year_high')

Empty DataFrame
Columns: [name, today_low, today_high, year_low, year_high]
Index: []

In [10]:
output_df.query('today_high >= year_high').shape[0]

0

In [11]:
output_df.to_csv(file_out, index=False)