In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.max_row',None)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 12, 31), datetime.date(2023, 12, 30))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
#yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-12-31
yesterday: 2023-12-28 00:00:00

In [3]:
yesterday = yesterday.date()
a_year_ago = yesterday - timedelta(days=365)
yesterday, a_year_ago

(datetime.date(2023, 12, 28), datetime.date(2022, 12, 28))

### Restart and Run All Cells

### Weekly process or when stataus changes.

In [4]:
pd.read_sql_query('SELECT COUNT(*) AS records FROM sales', conlite)

   records
0        0

In [5]:
sqlDel = """DELETE FROM sales"""
rp = conlite.execute(sqlDel)
rp.rowcount

0

In [6]:
sql = """
SELECT name
FROM orders 
ORDER BY name
"""
df = pd.read_sql(sql, conlite)

names = df['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'AIMIRT', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'BEM', 'BH', 'CK', 'CPN', 'CPNREIT', 'DIF', 'GVREIT', 'HANA', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTB', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'TOA', 'WHAIR', 'WHART'"

In [7]:
len(in_p.split(','))

38

### Get past one year data

In [8]:
sql = """
SELECT name, date, price, qty, maxp, minp 
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (a_year_ago, in_p)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2022-12-28' AND name IN ('AH', 'AIMIRT', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'BEM', 'BH', 'CK', 'CPN', 'CPNREIT', 'DIF', 'GVREIT', 'HANA', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTB', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'TOA', 'WHAIR', 'WHART')
ORDER BY name, date

In [9]:
df = pd.read_sql(sql, const)
df.tail()

       name        date  price      qty  maxp   minp
9296  WHART  2023-12-22   9.90  1360199   9.9   9.75
9297  WHART  2023-12-25   9.90   720222  10.0   9.90
9298  WHART  2023-12-26   9.95   469862  10.0   9.90
9299  WHART  2023-12-27  10.30  2042124  10.3  10.00
9300  WHART  2023-12-28  10.30  2598890  10.3  10.00

In [10]:
sql = """
SELECT * from PRICE
WHERE date = '2023-12-08'"""
df_tmp = pd.read_sql(sql, const)
df_tmp

        name        date   price    maxp    minp        qty    opnp
0       WORK  2023-12-08   11.20   11.30   11.00     140811   11.10
1       WICE  2023-12-08    5.65    5.70    5.55     270550    5.60
2      WHAUP  2023-12-08    3.98    4.00    3.94    1645804    3.96
3      WHART  2023-12-08    9.55    9.65    9.55    1299736    9.60
4      WHAIR  2023-12-08    5.55    5.65    5.55     272214    5.65
5        WHA  2023-12-08    5.15    5.35    5.15   42352741    5.35
6        VGI  2023-12-08    1.94    2.08    1.92   30410808    2.02
7        UTP  2023-12-08   11.50   11.50   11.30     118484   11.30
8        TVO  2023-12-08   21.00   21.50   21.00     566175   21.10
9         TU  2023-12-08   15.10   15.20   14.90   10353155   14.90
10       TTW  2023-12-08    8.95    9.00    8.85    2242219    8.95
11     TTLPF  2023-12-08   19.70   19.80   19.50      52105   19.80
12       TTB  2023-12-08    1.56    1.57    1.55   80776259    1.56
13       TTA  2023-12-08    6.25    6.35    5.70   44870935    5.85
14      TSTH  2023-12-08    0.82    0.84    0.82    1040900    0.82
15       TSE  2023-12-08    1.74    1.75    1.73    1069765    1.75
16      TRUE  2023-12-08    5.15    5.35    5.00  209676443    5.35
17       TQM  2023-12-08   28.75   29.00   28.50     280515   28.50
18     TPIPP  2023-12-08    3.38    3.38    3.34    1271209    3.38
19     TPIPL  2023-12-08    1.38    1.38    1.36    1815656    1.37
20       TOP  2023-12-08   51.00   51.25   50.25    3793355   50.25
21       TOA  2023-12-08   22.00   22.20   21.70    1518730   21.80
22       TMT  2023-12-08    6.15    6.25    6.15      53150    6.15
23       TKS  2023-12-08    6.90    7.00    6.80     142616    6.90
24       TKN  2023-12-08    9.10    9.40    9.10    6979835    9.30
25        TK  2023-12-08    5.05    5.10    5.00     413305    5.10
26     TISCO  2023-12-08   97.75   98.00   97.50    1551683   97.75
27     TIPCO  2023-12-08    9.05    9.15    9.00    1419763    9.05
28      TIPH  2023-12-08   30.00   30.25   29.50      87315   29.75
29    TIDLOR  2023-12-08   22.60   22.80   22.50    5928191   22.70
30       THG  2023-12-08   61.75   62.75   61.50     289028   61.75
31     THANI  2023-12-08    2.66    2.68    2.64    8623500    2.66
32     TFFIF  2023-12-08    6.45    6.45    6.40    2276400    6.45
33      TCAP  2023-12-08   48.50   48.75   48.25    1256046   48.25
34     TASCO  2023-12-08   16.10   16.40   16.00    8184145   16.30
35     SYNEX  2023-12-08   10.20   10.30   10.10     787687   10.10
36     SUPER  2023-12-08    0.43    0.43    0.41   11087329    0.42
37      STGT  2023-12-08    6.10    6.35    6.05    3730289    6.30
38      STEC  2023-12-08    8.90    9.10    8.85    3461595    8.85
39    STANLY  2023-12-08  177.00  178.00  175.50      31296  177.50
40       STA  2023-12-08   14.80   15.20   14.80    1066310   15.10
41       SSP  2023-12-08    7.45    7.50    7.40     644950    7.45
42    SPRIME  2023-12-08    4.84    4.86    4.84     215300    4.86
43      SPRC  2023-12-08    7.90    7.95    7.85    6502852    7.85
44      SPCG  2023-12-08   12.50   12.50   12.30     189287   12.50
45     SPALI  2023-12-08   18.10   18.10   17.90    5595054   18.10
46       SNC  2023-12-08    8.85    8.85    8.75     214252    8.80
47      SMPC  2023-12-08   10.60   10.70   10.60      63366   10.70
48       SKN  2023-12-08    4.28    4.28    4.26       9673    4.26
49      SJWD  2023-12-08   14.50   14.80   14.50    1630989   14.70
50       SIS  2023-12-08   22.40   22.50   22.20     200239   22.40
51      SIRI  2023-12-08    1.67    1.70    1.67   32698829    1.69
52    SINGER  2023-12-08   12.70   13.00   12.40   38431079   12.60
53      SENA  2023-12-08    2.34    2.36    2.32     247434    2.32
54      SCGP  2023-12-08   38.25   39.00   38.00    3201137   39.00
55      SCCC  2023-12-08  132.00  132.00  131.00      24230  132.00
56       SCC  2023-12-08  292.00  294.00  290.00    2242983  294.00
57       SCB  2023-12-08   99.25  100.00   99.00    6870687   99.75
58        SC  2023-12-08    3.08    3.12    3.04    2936344    3.08
59     SAWAD  2023-12-08   43.25   43.75   43.00    3340705   43.50
60       SAT  2023-12-08   17.70   17.80   17.60     569463   17.80
61     SAPPE  2023-12-08   73.50   76.25   73.25     670503   75.50
62     SABUY  2023-12-08    4.96    5.00    4.92    4351054    4.96
63       S11  2023-12-08    3.96    3.96    3.90     107700    3.96
64        RS  2023-12-08   13.90   13.90   13.70     141978   13.90
65     ROJNA  2023-12-08    5.70    5.85    5.70    1843962    5.80
66       RJH  2023-12-08   27.50   27.75   27.00     238622   27.00
67       RCL  2023-12-08   20.70   20.90   20.30    2004102   20.50
68       RBF  2023-12-08   13.30   13.50   13.20    3193527   13.40
69     RATCH  2023-12-08   30.75   31.75   30.75    5302337   31.25
70        QH  2023-12-08    2.18    2.20    2.16   10916522    2.18
71     PTTGC  2023-12-08   38.75   39.25   38.50    6509484   39.00
72     PTTEP  2023-12-08  142.00  143.50  140.50   17125551  142.00
73       PTT  2023-12-08   35.75   35.75   35.50   27908987   35.50
74       PTL  2023-12-08   10.20   10.50   10.20     703127   10.40
75       PTG  2023-12-08    8.90    9.15    8.80   12792714    9.00
76       PSL  2023-12-08    8.70    8.75    8.30   20700080    8.35
77       PSH  2023-12-08   12.20   12.20   12.00     519900   12.10
78       PRM  2023-12-08    5.10    5.15    5.00    4354593    5.15
79      POPF  2023-12-08    5.85    5.95    5.80     379901    5.90
80     PLANB  2023-12-08    8.35    8.60    8.30   47249974    8.55
81       OSP  2023-12-08   21.50   22.70   21.50   23923196   22.60
82       ORI  2023-12-08    8.65    8.75    8.60    2134213    8.75
83        OR  2023-12-08   20.00   20.30   19.90    9284151   20.20
84      ONEE  2023-12-08    3.96    4.06    3.88    7473336    4.04
85     NOBLE  2023-12-08    3.88    3.90    3.88     215384    3.90
86       NER  2023-12-08    4.56    4.62    4.54    2607741    4.60
87       MTC  2023-12-08   43.25   44.25   43.00    5137568   44.00
88       MST  2023-12-08   10.70   10.80   10.70      70903   10.80
89      MINT  2023-12-08   27.25   27.50   26.50   13006673   27.50
90      MEGA  2023-12-08   38.75   40.25   38.75    4305200   40.00
91       MCS  2023-12-08    6.65    6.70    6.60     118720    6.65
92        MC  2023-12-08   11.80   12.00   11.70    2614974   12.00
93     MAJOR  2023-12-08   15.10   15.40   15.00    1692388   15.20
94      MACO  2023-12-08    0.58    0.59    0.58    3679041    0.58
95         M  2023-12-08   39.25   40.25   39.25     872167   40.00
96       LPN  2023-12-08    3.86    3.88    3.80     658714    3.88
97       LPF  2023-12-08   12.70   12.80   12.60    1099934   12.60
98        LH  2023-12-08    7.65    7.75    7.60   32842900    7.60
99     LANNA  2023-12-08   14.80   14.90   14.50    1047762   14.90
100    LALIN  2023-12-08    8.00    8.00    7.95      17928    8.00
101      KTC  2023-12-08   46.25   47.00   46.00    2455458   46.75
102      KTB  2023-12-08   18.20   18.50   18.20   27723584   18.30
103      KSL  2023-12-08    2.62    2.68    2.60    2172680    2.68
104      KKP  2023-12-08   48.25   49.00   48.00    1023649   48.25
105      KGI  2023-12-08    4.44    4.46    4.44     524995    4.44
106      KEX  2023-12-08    3.92    4.10    3.92    5158526    4.06
107      KCE  2023-12-08   54.50   56.00   54.25    6336316   55.00
108    KBANK  2023-12-08  127.00  128.50  127.00    5342047  128.00
109      JMT  2023-12-08   28.25   28.25   27.00   15285693   27.25
110    JMART  2023-12-08   19.00   19.00   17.90   35248775   17.90
111    JASIF  2023-12-08    6.35    6.45    6.35    2189649    6.40
112      IVL  2023-12-08   25.50   25.75   25.25    4325128   25.50
113     IRPC  2023-12-08    1.98    2.02    1.98   20914298    1.99
114   INTUCH  2023-12-08   69.75   70.50   69.50    2102575   70.25
115   IMPACT  2023-12-08   12.20   12.30   12.20     229601   12.20
116      ILM  2023-12-08   23.80   23.90   23.60     184209   23.90
117      III  2023-12-08   10.20   10.30   10.00     787464   10.10
118     ICHI  2023-12-08   14.40   15.00   14.40    5001357   14.80
119      HTC  2023-12-08   15.80   15.90   15.70     155370   15.80
120    HMPRO  2023-12-08   12.00   12.20   11.90   14532056   12.10
121      HFT  2023-12-08    4.46    4.56    4.40     428698    4.40
122     HANA  2023-12-08   46.75   46.75   45.00   14056774   45.25
123   GVREIT  2023-12-08    5.75    5.80    5.75    1369020    5.75
124   GUNKUL  2023-12-08    2.58    2.62    2.56   23781979    2.58
125     GULF  2023-12-08   45.50   46.00   45.25    6596154   45.50
126     GPSC  2023-12-08   46.75   47.25   46.50    7752878   47.00
127   GLOBAL  2023-12-08   16.20   16.50   16.10    5175833   16.30
128     GFPT  2023-12-08   10.80   11.10   10.80    4217829   11.00
129   FTREIT  2023-12-08    9.70    9.75    9.70     695648    9.70
130      FPT  2023-12-08   15.40   15.40   15.20      13850   15.30
131    FORTH  2023-12-08   20.20   20.20   19.90     751433   20.00
132      EPG  2023-12-08    7.05    7.40    7.00    3334368    7.25
133     EGCO  2023-12-08  125.50  128.00  125.50     738634  126.00
134      ECL  2023-12-08    1.54    1.54    1.49   11872000    1.52
135    EASTW  2023-12-08    4.18    4.20    4.16     196405    4.16
136       EA  2023-12-08   44.25   45.00   43.75    6315494   44.50
137   DOHOME  2023-12-08   12.10   12.70   12.00    5968504   12.40
138      DIF  2023-12-08    8.15    8.25    8.15    6979106    8.15
139    DELTA  2023-12-08   81.00   81.25   77.25   16696461   77.25
140      CRC  2023-12-08   38.75   39.25   38.50    6065439   38.75
141    CPTGF  2023-12-08    4.98    4.98    4.94     235401    4.94
142  CPNREIT  2023-12-08   10.90   10.90   10.50    2340647   10.70
143    CPNCG  2023-12-08    6.25    6.30    6.25     178505    6.30
144      CPN  2023-12-08   65.50   65.75   65.00    3555632   65.25
145      CPF  2023-12-08   18.80   19.10   18.80    9174474   18.90
146    CPALL  2023-12-08   52.75   53.50   52.25   24107484   53.25
147     COM7  2023-12-08   22.30   22.70   22.20    9321228   22.50
148      CKP  2023-12-08    3.22    3.28    3.22    2459650    3.28
149       CK  2023-12-08   21.70   21.70   21.50    3438727   21.70
150      CHG  2023-12-08    2.98    2.98    2.88   38991669    2.88
151   CENTEL  2023-12-08   43.25   44.00   43.00    1477240   44.00
152      CBG  2023-12-08   81.00   83.00   81.00    3186260   82.50
153   BTSGIF  2023-12-08    3.28    3.30    3.26    2072238    3.28
154      BTS  2023-12-08    7.30    7.30    7.15   17144414    7.20
155      BPP  2023-12-08   14.20   14.50   14.10     970633   14.50
156    BLAND  2023-12-08    0.72    0.73    0.71    4173855    0.73
157      BLA  2023-12-08   19.50   20.00   19.40    2326005   19.90
158      BKI  2023-12-08  305.00  307.00  305.00       8708  305.00
159      BJC  2023-12-08   26.00   27.00   26.00    3900897   26.25
160       BH  2023-12-08  214.00  218.00  214.00    2049575  217.00
161    BGRIM  2023-12-08   26.75   27.25   26.25   11073208   26.75
162      BGC  2023-12-08    8.25    8.25    8.05     121913    8.20
163      BEM  2023-12-08    8.10    8.15    8.00   20542323    8.00
164   BEAUTY  2023-12-08    0.45    0.46    0.44    3300103    0.45
165     BDMS  2023-12-08   25.75   26.00   25.50   26016786   25.75
166     BCPG  2023-12-08    8.70    8.85    8.70    1804225    8.80
167      BCP  2023-12-08   42.50   43.25   42.25    2814734   42.75
168      BCH  2023-12-08   21.40   21.50   21.20    8073273   21.30
169      BBL  2023-12-08  149.50  150.50  149.00    4184305  149.50
170    BANPU  2023-12-08    6.75    7.10    6.75  174281649    7.05
171      BAM  2023-12-08    8.20    8.40    8.15    5606409    8.35
172       BA  2023-12-08   14.60   14.80   14.40    1105060   14.70
173      AWC  2023-12-08    3.72    3.76    3.68   27105562    3.74
174      ASW  2023-12-08    8.20    8.25    8.15      30535    8.25
175      ASP  2023-12-08    2.80    2.80    2.76     370134    2.78
176      ASK  2023-12-08   20.00   20.20   20.00     226611   20.00
177    ASIAN  2023-12-08    6.85    7.00    6.80     984463    6.95
178       AP  2023-12-08   10.70   10.80   10.60    6231939   10.60
179      AOT  2023-12-08   60.00   60.25   59.75   20027578   60.00
180     ANAN  2023-12-08    0.77    0.79    0.76   12008313    0.76
181    AMATA  2023-12-08   25.75   26.75   25.50    3070105   26.50
182       AJ  2023-12-08    7.00    7.05    6.75     320550    6.85
183      AIT  2023-12-08    3.90    3.98    3.90    2389012    3.94
184   AIMIRT  2023-12-08   10.20   10.30   10.10     593108   10.30
185       AH  2023-12-08   26.50   27.50   26.50    2297292   27.50
186   AEONTS  2023-12-08  149.50  152.00  148.00     199906  150.50
187   ADVANC  2023-12-08  220.00  220.00  218.00    2055619  220.00
188      ACE  2023-12-08    1.48    1.50    1.46    2544715    1.47

In [11]:
df.query("date == '2023-12-08'")

Empty DataFrame
Columns: [name, date, price, qty, maxp, minp]
Index: []

In [12]:
	# Set a variable  
	req_date = '2023-12-08'  
	  
	# Use the variable in the query function  
	df_filtered = df.query('date == @req_date')  
	  
	# View the filtered DataFrame  
	print(df_filtered)

Empty DataFrame
Columns: [name, date, price, qty, maxp, minp]
Index: []

In [13]:
data_path = "../data/"
file_name = "Yearly-Price-by-Name.csv"
output_file = data_path + file_name

df.set_index("name", inplace=True)
df.to_csv(output_file, header=None)

### Create monitors from orders

In [14]:
sql = """
SELECT name,trade 
FROM orders 
WHERE name IN (%s)
ORDER BY name
"""
sql = sql % in_p
orders = pd.read_sql(sql, conlite)
orders.set_index(['name'],inplace=True)
orders

        trade
name
AH          B
AIMIRT      S
ASK         B
ASP         S
AWC         S
BBL         B
BCH         S
BEM         B
BH          B
CK          B
CPN         B
CPNREIT     B
DIF         B
GVREIT      B
HANA        B
ICHI        B
IVL         S
JASIF       B
JMART       S
JMT         B
KCE         S
KTB         B
MCS         S
NER         B
ORI         B
PTG         B
PTTGC       B
RCL         S
SCC         S
SENA        B
SINGER      B
STA         S
SYNEX       B
TFFIF       B
TMT         B
TOA         S
WHAIR       B
WHART       B

In [15]:
file_name = "monitors.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name

orders.to_csv(data_file, header=None)
orders.to_csv(output_file)
orders.to_csv(box_file)

In [16]:
sql = """
SELECT trade, COUNT(*) AS items 
FROM orders
GROUP BY trade
ORDER BY trade
"""
grp = pd.read_sql(sql, conlite)
grp

  trade  items
0     B     26
1     S     12

### For new orders that never have XXX.html & XXX.CSV

In [17]:
file_name = 'price-uploads.csv'
url = data_path + file_name
url

'../data/price-uploads.csv'

In [18]:
uploads = pd.read_csv(url)
uploads.sort_values(['name'],ascending=[True]).shape

(152, 1)

In [19]:
df_merge = pd.merge(orders, uploads, on='name', how='outer', indicator=True)
df_merge.sort_values(['name'],ascending=[True]).shape

(157, 3)

In [20]:
new_prices = df_merge['_merge'] == 'left_only'
df_merge[new_prices]

   name trade     _merge
0    AH     B  left_only
4   AWC     S  left_only
7   BEM     B  left_only
10  CPN     B  left_only
35  TOA     S  left_only

In [21]:
new_prices = df_merge['_merge'] == 'right_only'
df_merge[new_prices].shape

(119, 3)

In [22]:
sql = """
SELECT name, status, market
FROM stocks 
ORDER BY status, name
"""
stocks = pd.read_sql(sql, conlite)
stocks.set_index(["name"], inplace=True)
stocks.shape

(38, 2)

In [23]:
file_name = "stocks-all.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

stocks.to_csv(data_file, header=None)
stocks.to_csv(output_file)
stocks.to_csv(box_file)
stocks.to_csv(one_file)

In [24]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","O")
ORDER BY name
"""
buy_candidates = pd.read_sql(sql, conlite)
buy_candidates.set_index(["name"], inplace=True)
buy_candidates

        status
name
AH           B
ASK          B
BBL          O
BEM          O
BH           O
CK           O
CPN          O
CPNREIT      B
DIF          B
GVREIT       B
HANA         O
ICHI         O
JASIF        B
JMT          B
KTB          O
NER          B
ORI          B
PTG          B
PTTGC        B
SENA         B
SINGER       B
SYNEX        B
TFFIF        B
TMT          B
WHAIR        B
WHART        B

In [25]:
buy_candidates.shape[0]

26

In [26]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("I","S")
ORDER BY name
"""

sell_candidates = pd.read_sql(sql, conlite)
sell_candidates.set_index(["name"], inplace=True)
sell_candidates

       status
name
AIMIRT      I
ASP         I
AWC         I
BCH         I
IVL         I
JMART       I
KCE         I
MCS         I
RCL         I
SCC         I
STA         I
TOA         I

In [27]:
sell_candidates.shape[0]

12